@charset "utf-8";

/* 마일리지 상단 요약테이블 */
.summaryTable {border:1px solid #e3e3e3; border-radius: 3px; margin-bottom: 20px;}
.summaryTable table tbody th {width:20%; padding: 11px 0; background: #f3f3f3; color: #555555; font-size:16px; text-align: center; vertical-align: middle;}
.summaryTable table tbody td {width:80%; padding: 11px 40px 11px 40px; vertical-align: middle; color: #333; word-break: break-word}
.summaryTable table tbody tr:not(:last-child) th {border-bottom: 1px solid #e8ebf3;}
.summaryTable table tbody tr:not(:last-child) td {border-bottom: 1px solid #e8ebf3;}

.summaryTable table tbody td .userPoint {display:inline-block;margin-right:20px}

/* 마일리지 통계 그래프영역 */
.chartArea {border:1px solid #e8ebf3;border-radius: 3px;height:200px;}/* 차트 영역 높이 값 조절 */
.chartArea:not(:last-child) {margin-bottom:24px}


/* 마일리지 목룍 정렬수정 */
.mileageList .mobileTable.breakpoint > tbody > tr > td.expand {text-align: left;}

@media screen and (max-width:767px) {
    .summaryTable table tbody th {width: 30%;min-width: 100px}
    .summaryTable table tbody td {width: 70%; padding: 11px;}
    .summaryTable table tbody td .userPoint {margin-right:12px}
}