@charset "utf-8";

.collectionInfo{margin-bottom: 20px; padding: 20px 30px 20px 20px; border: 1px solid #e3e3e3; border-radius: 3px;display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.collectionInfo .info{padding-left: 130px; position: relative; height: 120px;display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.collectionInfo .info::after{display: block; content: ''; position: absolute; left: 10px; top: 15px; width: 90px; height: 90px; background: #fff url(../../../image/ko/ico/collectionIcon.png) no-repeat center; border-radius: 100%; box-shadow: 0px 0px 11.7px 1.3px rgba(36, 25, 181, 0.2);}
.collectionInfo .info p{color: #1f1f1f; line-height: 25px;}

.collectionListW{margin-bottom: 20px; padding: 30px 20px 30px 30px; border: 1px solid #e3e3e3; border-radius: 3px;}
.collectionListW .collectionT{position: relative;}
.collectionListW .collectionT h3{margin-bottom: 5px; color: #1f1f1f; font-size: 20px; font-family:NotoSansM;} 
.collectionListW .collectionT p{color: #555; padding-right: 40px;}
.collectionListW .collectionT .more{position: absolute; right: 10px; top: 20px; text-indent: -9999px; width: 14px; height: 14px; background: url(../../../image/ko/ico/more1.png) no-repeat;}
@media screen and (max-width:1100px){
    .collectionInfo{display: block;}
    .collectionButtons{padding-left: 125px; margin-top: -10px;}
}
@media screen and (max-width:767px){
    .collectionInfo {padding: 20px;}
    .collectionInfo .info{padding-left: 0; padding-top: 110px; height: auto; text-align: center;}
    .collectionInfo .info::after{left: calc(50% - 45px); top: 0;}
    .collectionInfo .info p{width: 100%;}
    .collectionButtons{padding-left: 0; margin-top: 20px; text-align: center;}
    .collectionButtons a:first-of-type, .collectionButtons a:last-of-type{margin-left: 0;}
    .collectionListW .collectionT .more{top: 10px;}

}
/* 슬라이드 */
.bookDataW{position:relative;padding-top: 30px; height: 265px;}
.bookDataW .bookData{width: 82%; margin: 0 auto;}
.bookDataW .bookData div{height: auto;}
.bookDataW .bookData div a{display: block; margin: 0 auto; width: 160px; height: 253px; padding: 30px 14px 14px 14px; border: 1px solid #e3e3e3; border-radius: 3px; box-sizing: border-box; margin-bottom: 15px;}
.bookDataW .bookData div a img{display: block; width: 91px; height: auto; max-height: 131px; box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.33); margin: 0 auto 15px auto;}
.bookDataW .bookData div a .bookTitle{display: block; color: #333; max-height: 46px;}
.bookDataW .bookData div a .author{display: block; color: #777; height: 24px;}
.bookDataW .bookData .slick-arrow{position: absolute; top: 32%; border: none;  width: 24px; height: 46px; text-indent: -9999px; cursor: pointer;}
.bookDataW .bookData .slick-arrow.slickPrev{left: -95px; background: url(../../../image/ko/btn/prevBook.png) no-repeat center;}
.bookDataW .bookData .slick-arrow.slickNext{right: -95px; background: url(../../../image/ko/btn/nextBook.png) no-repeat center;}
.bookDataW.bookBg1 .bookData div a{-webkit-background: linear-gradient(180deg, #1e4b7e 55%, #f9fafa 45%);background: linear-gradient(180deg, #1e4b7e 55%, #f9fafa 45%);}
.bookDataW.bookBg2 .bookData div a{-webkit-background: linear-gradient(180deg, #767bb1 55%, #f9fafa 45%);background: linear-gradient(180deg, #767bb1 55%, #f9fafa 45%);}
.bookDataW.bookBg3 .bookData div a{-webkit-background: linear-gradient(180deg, #bfc6a3 55%, #f9fafa 45%);background: linear-gradient(180deg, #bfc6a3 55%, #f9fafa 45%); }
.bookDataMore{margin-top: 40px; position: relative; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
@media screen and (max-width:1024px){
    .bookDataW .bookData .slick-arrow.slickPrev{left: -40px;}
    .bookDataW .bookData .slick-arrow.slickNext{right: -40px;}
}
@media screen and (max-width:767px){
    .bookDataW .bookData .slick-arrow.slickPrev{left: -30px;}
    .bookDataW .bookData .slick-arrow.slickNext{right: -30px;}
}
/* 슬라이드 */

.collectionItem ul li{display: inline-block; width: 23%; margin-right: 2.4%; margin-top: 20px; vertical-align: middle;}
.collectionItem ul li:nth-of-type(4n){margin-right: 0;}
.collectionItem ul li a{display: block; height: 160px; padding: 25px 25px 0px 25px; border: 1px solid #e3e3e3; background: #f3f3f3; border-radius: 20px; text-align: center; box-sizing: border-box;}
.collectionItem ul li a strong{display: block; color: #1f1f1f; font-size: 21px; font-family:NotoSansM; margin-bottom: 20px;} 
.collectionItem ul li a span{display: block; max-height: 70px; color: #1f1f1f; letter-spacing: -0.06em;}
.collectionItem ul li a:hover{box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.18); background: url(../../../image/ko/bg/collectionItemBg.png) no-repeat; background-size: cover;}
.collectionItem ul li a:hover strong{color: #fff;}
.collectionItem ul li a:hover span{color: #e8ebf3;}
@media screen and (max-width:1200px){
    .collectionItem ul li{width: 31%; margin-right: 3%;}
    .collectionItem ul li:nth-of-type(4n){margin-right: 3%;}
    .collectionItem ul li:nth-of-type(3n){margin-right: 0;}
}
@media screen and (max-width:969px){
    .collectionItem ul li{width: 48.5%; margin-right: 2%;}
    .collectionItem ul li:nth-of-type(3n){margin-right: 2%;}
    .collectionItem ul li:nth-of-type(2n){margin-right: 0;}
}
@media screen and (max-width:550px){
    .collectionItem ul li{width: 100%; margin-right: 0% !important;}
    .collectionItem ul li:nth-of-type(3n){margin-right: 2%;}
    .collectionItem ul li:nth-of-type(2n){margin-right: 0;}
    .collectionItem ul li a{height: auto; padding-bottom: 20px;}
    .collectionItem ul li a strong{margin-bottom: 7px;}
}
