@charset "utf-8";

/* list Search Area */
span.bunch{display:inline-block; margin-top: 15px;}
span.bunch input, span.bunch select{margin: 0 3px;}
span.bunch2{float: left;}
span.bunch3{float: right;}
.searchArea2::after{display: block; content: ''; clear: both;}
.searchArea2 .newdays{min-width: 100px; margin-right: 5px;}
.searchArea2 .datePicker{width: 155px; margin-right: 5px;}
.searchArea2 .categoryValue{width: 290px;}
.searchArea{margin-bottom: 25px; padding: 5px 55px 20px; border: 1px solid #e3e3e3; border-radius: 3px;}
.searchArea .selectBox1{min-width: 110px; width: auto;}
.searchArea.center{text-align: center; background: #f3f3f3;}
.searchArea.center .bunch{margin-right: 20px;}
.searchArea3{padding-left: 18px;}
.searchArea3 label{color: #333; font-size: 18px; font-family: NotoSansM; display: inline-block; margin-right: 8px;}
@media screen and (max-width:1024px){
    .searchArea2 .categoryValue{width: 200px; display: block;}
    .searchArea2 .datePicker{width: 130px;}
}
@media screen and (min-width:767px) and (max-width:800px){
    .searchArea.center{padding: 5px 35px 20px;}

}
@media screen and (max-width:767px){
    .searchArea3{padding-left: 0;}
    .searchArea3 label{width: 60px; display: block; font-size: 16px;}
    .searchArea.center label{display: none;}
    .searchArea{padding: 4px 8px 20px; border: 1px solid #e3e3e3;}
    span.bunch input, span.bunch select{margin: 4px 2px;}
    span.bunch2{float: none;}
    span.bunch3{float: none;}
    .searchArea2 .categoryValue{width: 230px;}
    .searchArea2 .datePicker{width: 110px; margin-right: 0;}
    .searchArea2 .newdays{min-width: 110px;}
}
@media screen and (max-width:450px){
    .searchArea2 .datePicker{width: 108px;}
    .searchArea2 .newdays{min-width: 108px; display: block;}
}

/* Mobile Table */
@media screen and (max-width:767px){
    .tableScroll{overflow:auto}
    .tableScroll table{min-width:767px;}
    .mobileTable tbody tr td{padding-bottom: 0;}
    .mobileTable tbody td .btnW{display: inline-block;}
    .guideW .mobileTable > thead{display:table-header-group}
    .mobileTable.breakpoint > tbody > tr > td.expand{text-align:center;}
    .mobileTable .manualBtn{vertical-align: middle;}
    .mobileTable > tbody > tr > td.footable-cell-detail{border-top: 1px solid #e3e3e3 !important;}
    .footable-row-detail-inner > div{margin:12px 10px 0px;text-align: left;}
    .footable-row-detail-inner > div > strong{margin-bottom:2px; font-family:NotoSansM; color: #020202;}
}

/* listInfo */
.listInfo::after{display: block; content: ''; clear: both;}
.listInfo1{float: left;}
.listInfo1 p{display: inline-block;}
.listInfo2{float: right;}
.listInfo2 ul li{display: inline-block; margin-right: 12px;}
.listInfo2 ul li:last-of-type{margin-right: 0;}
.listInfo2 ul li a{color: #212121;}

.listInfoTit {color:#333;font-family:NotoSansM,sans-serif;font-size:20px;margin-bottom:20px;text-align:center}

@media screen and (max-width:767px){
    .listInfo1, .listInfo2{float: none; margin-top: 10px;}
}

/* list Table */
.listTable{margin: 15px 0;}
.listTable table{border: 1px solid #e3e3e3;}
.listTable table tr:not(:first-of-type) td{border-top:1px solid #e3e3e3 ;}
.listTable table thead tr th{padding: 12px 5px; font-size: 15px; color: #1f1f1f; background: #f3f3f3; vertical-align: middle;}
.listTable table tbody tr td{padding: 12px 5px;  color: #555555; vertical-align: middle; line-height: 20px; box-sizing: border-box;}
.listTable table tbody tr td.text-through {text-decoration:none}
.listTable table tbody tr td a{color: #555555 !important;}
.listTable table tbody tr td.text-through a {color: #99209b !important}

.listTable table tbody tr:hover td{background-color: #e7e7e7 !important; transition: 0.2s;}

.listTable td.checkbox		   /* checkbox */  {width:45px; text-align: center;}
.listTable td.num			   /* No. */       {width:50px; text-align: center;}
.listTable td.title			   /* 서명/저자 */  {width:auto; text-align: left; padding: 5px 18px;}
.listTable td.author		   /* 저자 */       {width:15%;}
.listTable td.publisher		   /* 발행처 */     {width:15%;}
.listTable td.cancel_reason	   /* 취소사유 */   {width:15%;}
.listTable td.request_date	   /* 신청일 */     {width:10%; min-width:85px; font-family:Roboto;}
.listTable td.process          /* 처리상태 */   {width:auto; min-width:85px;}
.listTable td.process_date	   /* 처리일 */     {width:auto; min-width:85px; font-family:Roboto;}
.listTable td.remark	       /* 비고 */       {width:6%;}
.listTable td.status	       /* 주문형태 */   {width:auto; min-width:80px;}
.listTable td.location         /* 소장처 */     {width:auto; min-width:80px;}
.listTable td.req_loan_status  /* 상태 */       {max-width: 145px; min-width:80px; width: auto;} /*보존서고*/
.listTable td.loan_date        /* 대출일 */     {width:auto; min-width:80px;}
.listTable td.to_place         /* 수신처 */     {width:13%; min-width:80px;}
.listTable td.call_no          /* 청구기호 */   {width:auto; min-width:80px;}
.listTable td.accession_no     /* 등록번호 */   {width:auto; min-width:80px;}
.listTable td.serial_no        /* 문서번호 */   {width:12%; min-width:80px;}
.listTable td.user_name        /* 신청자 */     {width:10%; min-width:80px;}
.listTable td.print_view       /* 인쇄 */       {width:4%; min-width:80px;}
.listTable td.publicationYear  /* 출판년 */     {width:10%; min-width:80px;}

@media screen and (min-width:767px){
    .listTable table tr td, .listTable table tr th{border-right: 1px solid #e3e3e3; text-align: center;}
    .listTable table tr td:last-of-type, .listTable table tr th:last-of-type{border-right: none;}
}

/* 첨부파일 */
.addedPrint{display: inline-block; width: 16px; height: 15px;}
.addedPrint img{width:16px;height:15px}

/* List Box Style */
.listStyle1{margin: 40px 0;}
.listTitle1{margin-bottom: 15px; color: #437dea; font-size: 20px;}
.keywordList{margin-bottom: 10px; color: #444444; font-size: 16px;}
.listBox1{padding: 25px 20px; border: 1px solid #e3e3e3;}
.listBox1.listBoxBg{background: #f3f3f3;}
.listBox1 p{color: #384655;}
.listBox1 ul li:not(:first-of-type){margin-top: 40px;}

.popularLoanList{margin-top: 25px; border: 1px solid #e3e3e3; border-radius: 3px;}
.popularLoanList > ul > li{padding: 20px 25px 20px 30px;}
.popularLoanList > ul > li:hover{background: #f3f3f3;}
.popularLoanList > ul > li:not(:last-of-type){border-bottom: 1px solid #e3e3e3;}
.popularLoanList > ul > li::after{display: block; content: ''; clear: both;}
.popularLoanList > ul > li .num{float: left; color: #212121; font-size: 16px; display: block; width: 35px; height: 50px;}
.popularLoanList > ul > li > div{margin-left: 35px;}
.popularLoanList > ul > li > div .title{display: block; color: #1f1f1f; font-size: 16px; margin-bottom: 5px;}
.popularLoanList > ul > li > div ul li{display: inline-block; color: #555; font-size: 16px; margin-right: 30px;}
.popularLoanList > ul > li > div ul li span{margin-right: 10px;}

/* 인기검색어 */
.popularKeywordW::after{display: block; content: ''; clear: both;}
.popularKeyword{float: left; width: 47%;}
.popularKeyword .rankWrap{border: 1px solid #e3e3e3; border-radius: 3px;}
.popularKeyword .keywordTop{padding: 30px 35px 30px 25px; background: #f3f3f3;}
.popularKeyword .keywordTop::after{display: block; content: ''; clear: both;}
.popularKeyword .keywordTop h3{float: left; color: #1f1f1f; font-size: 21px; font-family:NotoSansM, sans-serif;}
.popularKeyword .keywordTop h3 span{font-size: 21px; color: #ed145b; font-family:RobotoM ,sans-serif;}
.popularKeyword .keywordTop .term{float: right; color: #1f1f1f; font-family:Roboto ,sans-serif; line-height: 31px;}
.popularKeyword .rank{padding: 0 10px 10px 10px;}
.popularKeyword .rank li{padding: 25px 20px 25px 0; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex;}
.popularKeyword .rank li:not(:last-of-type){border-bottom: 1px solid #e3e3e3;}
.popularKeyword .rank li strong{display: inline-block; width: 70px; text-align: center; color: #ed145b; font-size: 16px; font-family:Roboto ,sans-serif; }
.popularKeyword .rank li .keyword{display: inline-block; color: #333; font-size: 16px; padding-right: 20px;}
.popularKeyword .rank li.rankUp .keyword{background: url(../../../image/ko/ico/rankUp.png) no-repeat right center;}
.popularKeyword .rank li > div{width: 100%;}
.popularKeyword .rank li.rankDown .keyword{background: url(../../../image/ko/ico/rankDown.png) no-repeat right center;}
.popularKeyword .rank li .count{float: right; color: #555;}
.popularKeyword .keywordPage{margin-top: 40px; color: #555; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center;-ms-flex-pack: center; justify-content: center;}
.popularKeyword .keywordPage .pageArrow{display: inline-block; width: 7px; height: 12px; text-indent: -9999px;}
.popularKeyword .keywordPage .prev{background: url(../../../image/ko/ico/keywordPagePrevArrowOn.png) no-repeat;}
.popularKeyword .keywordPage .prev.off{background: url(../../../image/ko/ico/keywordPagePrevArrowOff.png) no-repeat;}
.popularKeyword .keywordPage .next{background: url(../../../image/ko/ico/keywordPageNextArrow.png) no-repeat;}
.popularKeyword .keywordPage .next.off{background: url(../../../image/ko/ico/keywordPagePrevArrowOff.png) no-repeat;}
.popularKeyword .keywordPage .current{color: #333;margin-left: 25px; margin-right: 10px;}
.popularKeyword .keywordPage .end{margin-right: 25px; margin-left: 10px;}
.popularKeywordGraph{float: right; width: 47%;padding:20px 0; min-height: 445px; border: 1px solid #e3e3e3; border-radius: 3px;}
@media screen and (max-width:1000px){
    .popularKeyword{float: none; width: 100%;}
    .popularKeywordGraph{float: none; width: 100%; margin-top: 40pxe}
}
@media screen and (max-width:499px){
    .popularKeyword .keywordTop h3{float: none;}
    .popularKeyword .keywordTop .term{float: none;}
    .popularKeyword .rank li strong{width: 35px;}
    .popularKeyword .rank li{padding: 25px 10px 25px 0}
    .popularKeyword .rank li .count{display: block; float: none; margin-left: 0px; margin-top: 5px;}
}

/* 이미지 게시판 */
.collectionTable ul::after{display: block; content: ''; clear: both;}
.collectionTable ul li{float: left; width: 290px; margin-bottom: 32px; margin-right: 26px; background: #fff; box-shadow: 2px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24); box-sizing: border-box;}
.collectionTable ul li:nth-of-type(4n){margin-right: 0;}
.collectionTable ul li a{display: block;position:relative }
.collectionTable ul li a .imgBox{height: 270px; display: block; overflow: hidden;}
.collectionTable ul li a .imgBox img{transition: 0.3s; width: 100%; height: 100%;}
.collectionTable ul li a:hover .imgBox img{transform: scale(1.1);}
.collectionTable ul li a .title{position:absolute;bottom:0;left:0;width:100%;display: block; padding: 20px 0;text-align: center;background:rgba(255,255,255,0.7);color: #000000; font-size: 17px; font-family:NotoSansM, sans-serif;}
.collectionTable ul li a .txt{display: block; margin-top: 16px;color: #535353; font-size: 14px; padding: 0 20px 10px 20px;box-sizing: border-box; height: 80px;}

@media screen and (max-width:1310px){
    .collectionTable ul li{width: calc(25% - 18px); margin-right: 24px;}
}
@media screen and (max-width:1024px){
    .collectionTable ul > li {width:calc(33.33% - 8px); margin-right: 12px;}
    .collectionTable ul li:nth-of-type(4n){margin-right: 12px;}
    .collectionTable ul li:nth-of-type(3n){margin-right: 0px;}
}
@media screen and (min-width:601px) and (max-width:800px){
    .collectionTable ul > li {width:calc(50% - 5px); margin-right: 0;}
    .collectionTable ul li:nth-of-type(4n){margin-right: 0px;}
    .collectionTable ul li:nth-of-type(2n-1){margin-right: 10px;}
}
@media screen and (max-width:600px){
    .collectionTable ul > li {width:100%; margin-right: 0;}
    .collectionTable ul li a .imgBox{height: auto;}
    .collectionTable ul li a .imgBox img{height: auto;}
}

.noticeList{border: 1px solid #e3e3e3; border-radius: 3px;}
.noticeList ul li{border-bottom: 1px solid #e3e3e3; padding: 20px 30px 20px 25px; box-sizing: border-box;}
.noticeList ul li:last-of-type{border-bottom: none;}
.noticeList ul li div > span{display: inline-block; vertical-align: middle;}
.noticeList ul li div div{display: inline-block; vertical-align: middle; width: calc(100% - 200px);}
.noticeList ul li .num{min-width: 25px; text-align: center; margin-right: 20px; color: #383838;}
.noticeList ul li .disclosure{width: 37px; text-align: center; margin-right: 32px; color: #868686; font-size: 14px; padding-top: 28px; background: url(../../../image/ko/ico/public.png) no-repeat center top;}
.noticeList ul li .type{margin-right: 20px; padding: 0 13px; height: 24px; line-height: 24px; text-align: center; color: #fff; font-size: 14px; background: #1a0dab; border-radius: 20px;}
.noticeList ul li a{display: block;}
.noticeList ul li a .title{display: block; color: #1a1a1a; text-overflow: ellipsis; overflow: hidden; white-space: nowrap}
.noticeList ul li a .writer{display: block; color: #6b6b6b; text-overflow: ellipsis; overflow: hidden; white-space: nowrap}
.noticeList ul li .date{display: block; color: #1a1a1a; font-family:Roboto, sans-serif;}
.noticeList ul li .views{display: block; color: #6b6b6b;}
.noticeList ul li .order{min-width: 90px; color: #6b6b6b; }
.noticeList ul li::after{display: block; content: ''; clear: both;}
.noticeList ul li > div:nth-of-type(1){float: left; width: calc(100% - 100px);}
.noticeList ul li > div:nth-of-type(2){float: right; margin-top: 4px;}
.noticeList ul li.private{background: #f7f7f7;}
.noticeList ul li.private .disclosure{background: url(../../../image/ko/ico/private.png) no-repeat center top;}
.noticeList ul li.private .type{background: #858585 !important;}
.noticeList ul li.private .title{color: #858585;}
.noticeList ul li.private .writer{color: #858585;}
.noticeList ul li.private .date{color: #858585;}
.noticeList ul li.private .views{color: #858585;}

/* 게시판 상세 */
.boardDetail{border: 1px solid #e3e3e3; border-radius: 3px; padding: 24px 44px 36px 32px; box-sizing: border-box; width: 100%;}
.boardDetail .boardInfo .type{display: inline-block; padding: 0 13px; height: 24px; line-height: 24px; text-align: center; color: #fff; font-size: 14px; background: #1a0dab; border-radius: 20px;}
.boardDetail .boardInfo .title{margin-top: 4px; color: #222222; font-size: 21px; }
.boardDetail .boardInfo .writer{color: #555555; font-size: 14px;}
.boardDetail .boardInfo .emailLink{color: #222; font-family:Roboto, sans-serif; margin-left: 4px;}
.boardDetail .boardInfo .date{color: #555; font-family:Roboto, sans-serif; font-size: 14px; margin-left: 24px;}
.boardDetail .boardInfo .views{color: #555; font-size: 14px; margin-left: 24px;}
.boardDetail .boardInfo .views span{font-size: 14px;}
.boardDetail .boardInfo .disclosure{color: #1a0dab; position: absolute; right: 0; bottom: 0;}
.boardDetail .boardInfo .writeInfoW{position: relative;}
.boardContent{margin-top: 32px; min-height: 550px; position: relative; padding-bottom: 60px;}
.boardContent p{line-height: 32px; color: #555555; font-size: 15px;}
.boardContent .boardContentIcon{position: absolute; bottom: 0; left: 0;}
.report{display: inline-block;margin: 16px 0; padding: 0 20px; background: #ed145b; color: #fff !important;height: 37px; text-align: center; box-sizing: border-box; line-height: 37px; border-radius: 25px;}
/* 게시판 상세 */

/* 일정형 게시판 */
.calendarTop{margin-bottom: 32px; border: 1px solid #e3e3e3; border-radius: 3px; background: #f3f3f3; padding: 24px 20px; box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.calendarTop .monthSelect::after{display: block; content: ''; clear: both;}
.calendarTop .monthSelect .monthSelectBtn{display: block; float: left; width: 35px; height: 35px; box-sizing: border-box; border: 1px solid #e3e3e3; border-radius: 3px;text-indent: -9999px;}
.calendarTop .monthSelect .monthSelectBtn.prev{background:#fff url(../../../image/ko/btn/monthPrev.png) no-repeat center; border-right: none;}
.calendarTop .monthSelect .monthSelectBtn.next{background:#fff url(../../../image/ko/btn/monthNext.png) no-repeat center;}
.calendarTop .monthSelect .today{color: #1f1f1f; font-size: 16px; height: 35px; line-height: 35px; margin-left: 12px;}
.calendarTop .date{color: #1f1f1f; font-size: 21px;}
.calendarTop .daySelect::after{display: block; content: ''; clear: both;}
.calendarTop .daySelect .daySelectBtn{display: block; float: left; margin:0 5px; width: 35px; height: 35px; box-sizing: border-box; border: 1px solid #e3e3e3; border-radius: 3px; background: #fff; color: #555555; text-align: center; line-height: 35px;}
.calendarTop .daySelect .daySelectBtn.week{border-right: none; border-left: none;}

.calendarW{border: 1px solid #e3e3e3; border-radius: 3px; min-width: 800px;}
.calendarW .weekCont{border-top: 1px solid #e3e3e3; height: 100px;}
.calendarW .weekCont table{height: 100%; table-layout: fixed;}
.calendarW .weekCont table tr td{width: 14.28%; color: #333333;padding: 12px 0; box-sizing: border-box; text-align: right; border-right: 1px solid #e3e3e3;}
.calendarW .weekCont table tr td:nth-of-type(7){border-right: none;}
.calendarW .weekCont table tr td.holiday{color: #FF3000;}
.calendarW .weekCont table tr td.other{color: #b0b0b0;}
.calendarW .weekCont table tr td.holidayPast{color: #FFC8C8;}
.calendarW .weekCont table tr td .day{padding-right: 12px;}
.calendarW .weekCont table tr td a{display: block; margin-top: 4px; color: #343434; font-size: 14px; height: 24px; padding-left: 12px; box-sizing: border-box; text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;     line-height: 24px;}
.calendarW .weekCont table tr td a.event1{background: #d3dae9;}
.calendarW .weekCont table tr td a.event2{background: #e9e2d3;}
.calendarW .weekCont table tr td a.event3{background: #d3e9d6;}
.calendarW .weekCont table tr td a.event4{background: #e9d3e6;}
.calendarW .calendarHead table tr td{padding: 16px 0; width: 14.28%; background-color: #fafafa; color: #333333; text-align: center;border-right: 1px solid #e3e3e3; box-sizing: border-box;}
.calendarW .calendarHead table tr td:nth-of-type(7){border-right: none;}
/* 일정형 게시판 */


/* 일정형 게시판 */
.calendarTop{margin-bottom: 32px; border: 1px solid #e3e3e3; border-radius: 3px; background: #f3f3f3; padding: 24px 20px; box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.calendarTop .monthSelect::after{display: block; content: ''; clear: both;}
.calendarTop .monthSelect .monthSelectBtn{display: block; float: left; width: 35px; height: 35px; box-sizing: border-box; border: 1px solid #e3e3e3; border-radius: 3px;text-indent: -9999px;}
.calendarTop .monthSelect .monthSelectBtn.prev{background:#fff url(../../../image/ko/btn/monthPrev.png) no-repeat center; border-right: none;}
.calendarTop .monthSelect .monthSelectBtn.next{background:#fff url(../../../image/ko/btn/monthNext.png) no-repeat center;}
.calendarTop .monthSelect .today{color: #1f1f1f; font-size: 16px; height: 35px; line-height: 35px; margin-left: 12px;}
.calendarTop .date{color: #1f1f1f; font-size: 21px;}
.calendarTop .daySelect::after{display: block; content: ''; clear: both;}
.daySelectBtn{display: block; float: left; width: 35px; height: 35px; box-sizing: border-box; border: 1px solid #e3e3e3; border-radius: 3px; background: #fff; color: #555555; text-align: center; line-height: 35px;}
.daySelectBtn.week{border-right: none; border-left: none;}

.fc-ltr .fc-toolbar {display: none;}
.fc-ltr .fc-scroller {overflow: visible !important;}
.fc-ltr .fc-head .fc-row table tr th{padding: 16px 0; width: 14.28%; background-color: #fafafa; color: #333333; text-align: center;border-right: 1px solid #e3e3e3; box-sizing: border-box;}
.fc-ltr .fc-body .fc-more {color: #333333;}
.fc-ltr .fc-body .fc-sun {color: #FF3000;}
.fc-ltr .fc-body .holiday {color: #FF3000; }
.fc-ltr .fc-bgevent, .fc-ltr .fc-highlight {opacity:0}
.fc-ltr .bgGray {opacity:.3}
.fc-ltr .fc-body .fc-day{width: 14.28%; color: #333333;padding: 12px 0; box-sizing: border-box; text-align: right; border-right: 1px solid #e3e3e3;}
.fc-ltr .fc-body .fc-day-number{text-align: left; padding: 2px 8px;}
.fc-ltr .fc-body .fc-day-number p{float: right;}
.fc-ltr .fc-body .holidayPast {background: #FF3000; border: 1px solid #FF3000;}
.fc-ltr .fc-body .libschedule_0010 {background: #eee; border: 1px solid #eee; color: #343434;}
.fc-ltr .fc-body .education_0000 {background: #f3e4e6; border: 1px solid #f3e4e6; color: #343434;}
.fc-ltr .fc-body .evtColor1 {background: #d6f3ea; border: 1px solid #d6f3ea; color: #343434;}


@media screen and (min-width:768px) and (max-width:1024px){
    .boardDetail .boardInfo .date{margin-left: 16px;}
    .boardDetail .boardInfo .views{margin-left: 16px;}
}
@media screen and (max-width:800px){
    .tableScroll{overflow-x: scroll;}
}
@media screen and (max-width:767px){
    .noticeList ul li{padding: 20px;}
    .noticeList ul li .num{margin-right: 16px;}
    .noticeList ul li .disclosure{margin-right: 20px;}
    .noticeList ul li .type{margin-right: 8px;}
    .noticeList ul li > div:nth-of-type(1){float: none; width: 100%;}
    .noticeList ul li > div:nth-of-type(2){float: none; margin-top: 8px;}
    .noticeList ul li div div{display: block; width: 100%; margin-top: 16px;}
    .noticeList ul li .date{display: inline-block; margin-right: 20px;}
    .noticeList ul li .views{display: inline-block;}
    .noticeList ul li .order{min-width: 0; margin-right: 16px;}
    .noticeList ul li a .writer{margin-top: 4px;}
    /* 게시판 상세 */
    .boardDetail{padding: 24px;}
    .boardDetail .boardInfo .disclosure{position: relative; display: block; margin-top: 4px;}
    .boardDetail .boardInfo .writeInfoW .writerInfo{display: block; margin-bottom: 4px;}
    .boardDetail .boardInfo .date{margin-left: 0;}
    .boardDetail .boardInfo .views{margin-left: 8px;}
    /* 게시판 상세 */

    /* 일정형 게시판 */
    .calendarTop{padding: 20px 12px;}
    /* 일정형 게시판 */
}
@media screen and (max-width:410px){
    /* 일정형 게시판 */
    .calendarTop{display: block;}
    .calendarTop .monthSelect{display: inline-block;vertical-align: middle;}
    .calendarTop .date{display: inline-block; margin-left: 20px;vertical-align: middle;}
    .calendarTop .daySelect{margin-top: 16px;}
    /* 일정형 게시판 */
}
@media screen and (max-width:767px){
    /* Search Area */
    span.bunch{width: 100%; margin-top: 12px;}
    span.bunch{display: -webkit-box; display: -ms-flexbox; display: flex;
            -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
            -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
    span.bunch select,  span.bunch input{width: 100% !important; margin: 0 4px !important;box-sizing:border-box;}
    span.bunch.bunchBtn input{width: 100%;}
    .inputTextType2{width: calc(50% - 18px);}
    .searchArea .btnType4 , .searchArea3 .btnType4{width: calc(100% - 16px);}
}

/* 설문조사  */
.survay .panel-body {margin:50px 0 40px 0;padding:28px 32px;border:1px solid #e3e3e3}
.survay .form-group h4 {font-family:NotoSansM,sans-serif;font-size:20px;letter-spacing:-0.05em}
.survay .form-data-info {margin-bottom:12px}
.survay .form-data-info dt, .form-data-info dd {display:inline-block;color:#6d6d6d;font-size:14px;letter-spacing:-0.05em}
.survay .form-data-info dd {margin-left:16px}
.survay .form-data-content dt {margin-bottom:4px}
.survay .form-data-content dt span {color:#1f1f1f;font-size:18px;letter-spacing:-0.05em}
.survay .form-data-content dd input[type="radio"] {vertical-align:-3px;margin-left:0}
.survay .form-data-content dd input[type="checkbox"] {margin-right:2px}

.survay .form-data-content dd .boxStyle02 {margin-bottom:28px}
.survay .form-data-content dd .title {display:inline-block;margin-bottom:4px}
.survay .form-data-content dd font {color:#e23d3f}
.survay .form-data-content dd label {margin-right:8px}
.survay .form-data-content dd .textForm {padding-left:8px;border:1px solid #e3e3e3 !important;box-sizing:border-box}

.survay .col-md-6 {float:none !important;margin-bottom:80px;text-align:center !important}

@media screen and (max-width:767px){
    .survay .panel-body {margin:24px 0 20px 0}
}

#divNoResult{margin-top: 20px;}
#divNoResult .result{float: none !important; width: 100%;}
.noResult{border: 1px solid #e3e3e3; border-radius: 5px; padding: 30px 16px 30px; text-align: center;}
.noResult1{padding-top: 150px; margin-bottom: 20px; background: url(../../../image/ko/ico/noResult.png) no-repeat top center; color: #545454; font-size: 25px; font-family:NotoSansM, sans-serif;}
.noResult1 span{display: inline-block; vertical-align: middle; margin-top: -7px; font-size: 20px; font-family:NotoSansM, sans-serif;}
.noResult2{color: #555555; font-size: 16px;}
@media screen and (max-width:767px){
    .noResult{padding: 80px 16px;}
}

/* 내서재 내보내기 추가 */
.listExport {float:right}
@media screen and (max-width:767px){
      .exportCase .listInfo1 {float:left;margin:0}
}
