@charset "utf-8";

/* Font */
@font-face{
    font-family:NotoSansB;
    src:url(../../font/NotoSansKR-Bold.eot);
    src:local('※'), url(../../font/NotoSansKR-Bold.woff) format('woff');
}
@font-face{
    font-family:NotoSansM;
    src:url(../../font/NotoSansCJKkr-Medium.eot);
    src:local('※'), url(../../font/NotoSansCJKkr-Medium.woff) format('woff');
}
@font-face{
    font-family:NotoSans;
    src:url(../../font/NotoSansCJKkr-Regular.eot);
    src:local('※'), url(../../font/NotoSansCJKkr-Regular.woff) format('woff');
}
@font-face{
    font-family:Roboto;
    src:url(../../font/Roboto-Regular.eot);
    src:local('※'), url(../../font/Roboto-Regular.woff) format('woff');
}
@font-face{
    font-family:RobotoM;
    src:url(../../font/Roboto-Medium.eot);
    src:local('※'), url(../../font/Roboto-Medium.woff) format('woff');
}
@font-face{
    font-family:RobotoB;
    src:url(../../font/Roboto-Bold.eot);
    src:local('※'), url(../../font/Roboto-Bold.woff) format('woff');
}

/* print */
.handlerContentW h3{padding: 25px; color: #ffffff; font-size: 18px; background: #4d2bf4;}
.handlerContentW .handlerContent{padding: 30px 25px;}
.handlerContentW .handlerContent .layerTable tr th{color: #1f1f1f; font-family:NotoSansM, sans-serif; text-align: left;}
.handlerContentW .handlerContent .layerTable tr td{color: #1f1f1f; height: 30px;}
.handlerContentW .handlerContent .layerPopupButtons{text-align: center; margin-top: 35px;}
.handlerContentW .handlerContent .layerPopupButtons a, .handlerContentW .handlerContent .layerPopupButtons input{display: inline-block; margin: 4px; height: 37px; line-height: 37px; padding: 0 36px;}
/* print */

/* viewer */
.popupTop{padding: 25px 35px; color: #383838; box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.09);}
.popupTop h2{font-size: 20px;}
.popupTop ul li{display: inline-block;}
.popupTop ul li:not(:last-of-type){padding-right: 26px; position: relative;}
.popupTop ul li:not(:last-of-type)::after{display: block; content: ''; width: 1px; height: 12px; background: #d6d5d2; position: absolute; right: 12px; top: 5px;}
.popupCont::after{display: block; content: ''; clear: both;}
.popupCont .viewerList{float: left; width: 20%; background: #48525d; overflow-y: auto;}
.popupCont .viewerList::-webkit-scrollbar{width: 24px;}
.popupCont .viewerList::-webkit-scrollbar-thumb{background-color: rgba(163, 163, 163, 0.3); border-radius: 15px; background-clip: padding-box; border: 8px solid transparent;}
.popupCont .viewerList > ul > li a{display: block; color: #fff; padding: 15px 40px;}
.popupCont .viewerList > ul > li.on{background: #23303d;}
.popupCont .view{float: right; background: #f4f4f4; width: 80%;}

/* 팝업의 최대 높이 조절 */
.popupCont .viewerList, .popupCont .view{height: 800px;}

@media screen and (max-width:1200px){
    .popupCont .viewerList{width: 40%;}
    .popupCont .view{word-break: 60%;}
}

/* url popup */
.popupCont .urlList{width: 100% !important;}
/* viewer */

/* 목차보기 */
.popupTop2{padding: 30px 25px;  background: #362f88; box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.2);}
.popupTop2 h2{color: #fff; font-size: 20px; margin-bottom: 10px;}
.popupTop2 ul li{display: inline-block; color: #f1f1f1;}
.popupTop2 ul li:not(:last-of-type){padding-right: 26px; position: relative;}
.popupTop2 ul li:not(:last-of-type)::after{display: block; content: ''; width: 1px; height: 12px; background: #f1f1f1; position: absolute; right: 12px; top: 5px;}
.popupBottom .box{padding: 40px 45px; color: #1f1f1f; overflow: auto; height: 700px; border-bottom: 1px solid #e3e3e3;}
.popupBottom .box::-webkit-scrollbar{width: 24px;}
.popupBottom .box::-webkit-scrollbar-thumb{background-color: rgba(163, 163, 163, 0.3); border-radius: 15px; background-clip: padding-box; border: 8px solid transparent;}

/* popupButtons */
.popupButtons{text-align: center; margin-top: 40px;}