@charset "utf-8";

/* write */
.writeTable{border:1px solid #e3e3e3; border-radius: 3px; margin-bottom: 20px;}
.writeTable th{width:20%; padding: 11px 65px 11px 0; background: #f3f3f3; border-bottom: 1px solid #e8ebf3; color: #555555; font-size:16px; text-align: right; vertical-align: middle;}
.writeTable th label{position: relative; font-size: 16px;}
.writeTable td{width:80%; padding: 11px 40px 11px 40px; border-bottom: 1px solid #e8ebf3; vertical-align: middle; color: #333; word-break: break-word;}
.writeTable li {list-style:none}
.writeTable tr:last-of-type td, .writeTable tr:last-of-type th{border-bottom: none;}
.writeTable tr:hover td{background-color: #e7e7e7 !important; transition: 0.2s;}

.writeTable .languageInputW {position:relative}

@media screen and (max-width:1024px){
    .writeTable th{padding: 18px 25px 18px 10px; text-align: center;}
}
@media screen and (max-width:767px){
    .writeTable th{width: 30%;}
    .writeTable td{width: 70%; padding: 11px;}
}

/* option */
.exam1{color: #384655; margin-top: 10px;}
.exam2{color: #e23d3f; margin-top: 10px;}
.exam3{color: #0000ff; margin-top: 2px; display: block;}

.file_del {
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #a5a5a5;
    color: #384655;
    display: inline-block;
    font-size: 11px;
    padding: 1px 10px 3px;
    vertical-align: top;
}

/* 설문조사 */
#trResult .boxStyle:not(:last-child) {margin-bottom:24px}
#trResult .boxStyle ol {margin-top:8px}
#trResult .boxStyle ol>li:not(:last-child) {margin-bottom:8px}
#trResult .graph-wrap {position:relative;margin-top:2px;border:1px solid #ddd}
#trResult .graph-wrap .graph-bar {display:block;height:24px;background:#08c;background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)}
#trResult .graph-wrap .graph-text {position:absolute;top:0;left:4px;color:#333}


/* 설문작성 */
#frmApply::after {content:"";display:block;clear:both}
.servayWrite {margin-top:16px}
.servayWrite .formHeader {padding:32px 36px 28px 36px;border:1px solid #e3e3e3;border-radius: 3px;}
.servayWrite .formHeader .form-data-subject {margin-bottom:4px;color:#1e1e1e;font-family: NotoSansM,sans-serif;font-size:21px;letter-spacing: -0.05em;}
.servayWrite .formHeader .form-data-info dt {display:inline-block}
.servayWrite .formHeader .form-data-info dt>span {color:#555;font-size:15px;letter-spacing: -0.05em;}
.servayWrite .formHeader .form-data-info dd {display:inline-block;color:#555;font-size:15px;letter-spacing: -0.05em;}

.servayWrite .choice {margin-top:12px}
.servayWrite .choice>dl>dd>ol>li {padding:24px 36px;border:1px solid #e3e3e3;border-radius: 3px;}
.servayWrite .choice>dl>dd>ol>li:not(:last-child) {margin-bottom:12px}
.servayWrite .choice>dl>dd>ol>li .title {color:#1e1e1e;font-size:16px;letter-spacing: -0.05em;}
.servayWrite .choice>dl>dd>ol>li input[type="radio"] {width:15px;height:15px;margin:0 8px 0 0;vertical-align: -4px;}
.servayWrite .choice>dl>dd>ol>li input[type="checkbox"] {width:15px;height:15px;margin:0 8px 0 0;vertical-align: -4px;}
.servayWrite .choice>dl>dd>ol>li label {margin-right:8px;color:#555;font-size:14px;letter-spacing: -0.05em;}
.servayWrite .choice>dl>dd>ol>li input[type="text"] {height:28px;border:1px solid #e3e3e3 !important;vertical-align: -3px;}
.servayWrite .choice>dl>dd>ol>li>ol {margin-top:12px}
.servayWrite .choice>dl>dd>ol>li>ol>li:not(:last-child) {margin-bottom:8px}
.survayBtn {margin-top:24px}
.survayBtn .btnType1 {min-width: 112px !important;padding:0;height:43px;line-height: 43px;}
.survayBtn .btnType2 {min-width: 112px !important;padding:0;height:43px;line-height: 43px}

@media screen and (max-width:767px) {
	.survayBtn {float:none !important;text-align: center;}
}








