@charset "utf-8";
/* 공군 color.css */
/* Top Menu */
#divTopMenu > ul > li > a:hover{color: #097ac6;}
#divTopMenu > ul > li.on > a{color: #097ac6;}
#divTopMenu > ul > li > a::before{background:#00589e;}
#divTopMenu > ul > li .menuContent > ul > li:hover > a{border: 2px solid #097ac6; background-color: #097ac6;}
#divTopMenu > ul > li .menuContent > ul > li .menuList ul li a:hover{color: #0d64b4;}
#divTopMenu > ul > li .menuContent > ul > li .menuList ul li a:hover::after{background: #0d64b4;}

/* myMenu */
.header1 .globalMenu > ul > li.profile .myMenuBtn{background-color: #1574bf;}

/* wholeMenu */
@media screen and (min-width:1025px){
    .wholeMenu{ background: #00589e;}
    .divMenuList > ul > li > a{border-top: 1px solid #4d8abb; border-bottom: 1px solid #4d8abb;}
    .divMenuList > ul > li > ul > li > ul li a{color: #a3dafe; }
}
@media screen and (max-width:1024px){
    .divMenuList > ul > li > a::after{background: #0d64b4;}
    .divMenuList > ul > li > ul > li > a:hover{color: #0d64b4; }
    .divMenuList > ul > li > ul > li.on > a{color: #0d64b4; border-bottom: 1px solid #0d64b4;}
    .divMenuList > ul > li > ul > li > ul > li > a:hover{color: #196cc1;}
    .divMenuList > ul > li > ul > li > ul > li > a:hover::after{background: #196cc1;}
}

/* Search */
#divSearch .searchBox input[type="image"]{background: #1574bf;}
#divSearch .detailSearch a{background-color: #00224b; }
.widesrchContent dl dt:hover a{color:#00589e}

/* quickMenu */
.quickMenuW .quickMenu div a:hover span{background: #115eab;}
.quickMenuW .quickMenu div a span::after{border-bottom: 5px solid #115eab;}
.quickMenuW .quickMenuAll{background: #1574bf;}



/* notice */
.notice >  ul > li.on > a{background: #0d64b4; border: 1px solid #0d64b4;}
.notice >  ul > li .noticeContent > ul li a:hover{color: #0d64b4;}
.notice >  ul > li .noticeContent > ul li .mark{color: #0d64b4; border: 1px solid #0d64b4;}
.notice >  ul > li .noticeContent .qusetionList{border-top: 1px solid #0d64b4;}
.notice >  ul > li .noticeContent .qusetionList li span{color: #0d64b4;}
@media screen  and (max-width:767px){
    .notice > ul > li > a{background: #0d64b4; border: 1px solid #0d64b4;}
}

/* popup */
.control ul li.on a{background: #00baff;}

/* schedule */
.schedule .scheduleMonth > ul{background: linear-gradient(300deg,#005dba , #0387c2 );}
.schedule .scheduleListW .scheduleList ul li a:hover{border: 1px solid #7fa8cb;}
.schedule .scheduleListW > a::before{background: linear-gradient(300deg,#005dba , #0387c2 );}
.schedule .scheduleListW .scheduleList ul li a:hover .scheduleDate{color: #0d64b4;}

/* 이용안내 */
.guideWrap .guide2 .top .tit{color: #115eab;}
.openHourList > li::after{background: #1574bf;}
.openHourList > li > ul.libraryList li{color: #1574bf}
.guide2Table tr th{color: #115eab; border-top: 2px solid #115eab; border-bottom: 1px solid #115eab;}

/* bookList */
.tabList > div > ul > li .tab span::before {background: #1c84ca;}
.bookListW .bookList div a .bookInfo{background: rgba(13, 100, 180, 0.95);}
.bookListW .moreList a::after{background-color: #00baff;}

/* footer */
.libraryInfo ul li a.privacy{color: #72b8e4;}

/* select */
::-moz-selection{background-color:#00589e ;color:#fff; text-shadow: 1px 1px #000;}
::-webkit-selection{background-color:#00589e ;color:#fff; text-shadow: 1px 1px #000;}
::selection{background-color:#00589e ;color:#fff; text-shadow: 1px 1px #000;}

/* -------------------- */
/* sub Template */
/* Top Menu */
.subTemplate .header2{background: #1574bf;}
.subTemplate #divTopMenu > ul > li.on > a{color: #fff;}
.subTemplate #divTopMenu > ul > li > a:hover{color: #fff;}
.subTemplate #divTopMenu > ul > li > a::before{background:#fff;}

/* Search */
.searchInput input[type="text"]{color: #1574bf;}
.searchWords .searchKeyword .keyword{color: #1574bf;}
.atoz a.selected{background: #00224b; border: 1px solid #00224b;}
.topicCont .subjectDepth01 > li.on .topicTit1{color: #1574bf;}
.topicCont .subjectDepth01 > li > .subjectDepth02 > li.on{background: #1574bf;}
.topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li.on a, .topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li a:hover{color: #1574bf;}
.topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li.on a::after, .topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li a:hover::after{background: #1574bf;}
.noResult1 span{color: #1574bf;}

/* Search List */
.searchCnt strong{color: #1574bf;}

/* paging */
.paging > span span{color: #1574bf;}
.facetNav{background-color: #1574bf;}

/* pacet */
.facetList1 > ul li .addDelete{background-color: #1574bf;}
.sortingBtn{background-color: #1574bf;}
.facet::after{background-color: #1574bf;}

/* Button */
.btnType1{color: #1574bf !important; border: 1px solid #1574bf;}
.btnType2{background: #1574bf; border: 1px solid #1574bf;}
.btnType3{color: #1574bf !important; border: 1px solid #1574bf;}
.btnType4{background: #00224b;}
.btnType5{background: #00224b;}
.btnType6.on{background: #1574bf;}
.btnType7{color: #1574bf !important; border: 1px solid #1574bf;}
.btnType3{color: #1574bf !important; border: 1px solid #1574bf;}
.btnType4{background: #1574bf; border: 1px solid #1574bf;}
.btnType10{background: #1574bf;}
.resultList > li .listInfoW .bookInfo .dataInfo .infoBtn:hover{background: #1574bf; border: 1px solid #1574bf; }

/* TabMenu */
#divTabMenu ul li.selected a{background: #1574bf;}

/* 검색상세 */
.profileHeader h3{color: #1574bf !important;}
.profileHeader .qrBtn{background: #1574bf !important;}
.briefInfoDetail table tr td a{color: #1574bf !important;}
.searchLink .searchLinkBtn > li.marcView a{color: #1574bf !important;}
.searchInfo.on .searchHeader h3 a{color: #1574bf !important;}
.briefInfoDetail table tr td a.urlGoto{background: #00224b !important;}
a.moreView:hover{color: #1574bf !important;}

/* main Color */
.col10{color: #1574bf !important;}

/* total Search */
.totalSearchResult .division .totalSearchTitle h3 span strong{color: #1574bf;}

/* popup */
.popupTop2{background: #1574bf;}
.layerPopup h3{background: #1574bf;}
.handlerContentW h3{background: #1574bf;}
.popupRoomContent .popupContentHeader, .popupRoomContent.on .popupContentHeader{background-color: #1574bf;}
.bookingTable tr td:nth-of-type(1)::after{background: #1574bf;}

/* facility */
.tabs .tabList li.on a{color: #1574bf; border-bottom: 3px solid #1574bf;}
.resList > ul > li.ongoing .type{background-color: #1574bf;}
.resList > ul > li .info p.date{color: #1574bf;}

/* list */
.listTitle1{color: #00224b;}

/* 자동완성 */
.autoComW .autoComContent ul li a span{color: #1574bf;}

/* Login */
.loginBtn1{background: #1574bf;}
.loginBtn2{border: 1px solid #1574bf; color: #1574bf !important;}
.loginBtn3{background: #00224b;}
.loginBtn4{color: #00224b !important; border: 1px solid #00224b;}
.loginW .wrap > p .loginGoto{color: #1574bf;}
.loginW .wrap .loginTit{color: #1574bf;}
.loginW .loginContent .msg .msgFind{color: #1574bf;}
.loginW .loginContent .loginType li.on a{background: #00224b;}

/* 게시판 */
.noticeList ul li .type{background: #1574bf;}
.boardDetail .boardInfo .type{background: #1574bf;}
.boardDetail .boardInfo .disclosure{color: #1574bf;}
.calendarTop .daySelect .daySelectBtn.on{color: #1574bf;}

/* 회원증 색상변경 */
.globalMenu ul>li.card>a {background:url(../../../image/ko/main/cardType2.png) no-repeat left center;color:#1574bf;}
.card .cardPop {border-top:10px solid #1574bf;}
.qrBtn a.retry {background-color:#1574bf;}

/* 논문선택컬러 */
.applyBtn3.on span {background:url(/humanframe/nddl/image/ko/ico/thesisArrow3.png) no-repeat left center !important;color:#1574bf !important}

/* 가이드 색상수정 */
.guideTit1 {color:#1574bf}
.guideTit1::after {background:#1574bf}
.point1, .caution2 {color:#1574bf}
.guideList1 > li::after {background:#1574bf}
.historyContent .year {color:#1574bf !important}
.historyContent .year::after {background:#1574bf}
.historyTab li a.on {background:#1574bf; border:1px solid #1574bf}
.goto1, .download1{background: #1574bf;}

/* 레이어 공지사항 */
.layerNotice .topArea {background:#2a74ba}

/* intraBook */
.intraBookSlide ul li>a:hover {border:1px solid #1574bf}

/* -------------------- */