@charset "utf-8";
/* -------------------- */
/* 육군 color.css */
/* main Color */
/* Top Menu */
#divTopMenu > ul > li > a:hover{color: #1a7109;}
#divTopMenu > ul > li.on > a{color: #1a7109;}
#divTopMenu > ul > li > a::before{background:#1a7109;}
#divTopMenu > ul > li .menuContent > ul > li:hover > a{border: 2px solid #348823; background-color: #348823;}
#divTopMenu > ul > li .menuContent > ul > li .menuList ul li a:hover{color: #1a7109;}
#divTopMenu > ul > li .menuContent > ul > li .menuList ul li a:hover::after{background: #1a7109;}

/* myMenu */
.header1 .globalMenu > ul > li.profile .myMenuBtn{background-color: #006951;}
.myMenuList a.myMenuStatus span{color:#33d03a}

/* wholeMenu */
@media screen and (min-width:1025px){
    .wholeMenu{ background: #006951;}
    .divMenuList > ul > li > a{border-top: 1px solid #4d9686; border-bottom: 1px solid #4d9686;}
    .divMenuList > ul > li > ul > li > ul li a{color: #aadfd3; }
}
@media screen and (max-width:1024px){
    .divMenuList > ul > li > a::after{background: #006951;}
    .divMenuList > ul > li > ul > li > a:hover{color: #006951; }
    .divMenuList > ul > li > ul > li.on > a{color: #006951; border-bottom: 1px solid #006951;}
    .divMenuList > ul > li > ul > li > ul > li > a:hover{color: #006951;}
    .divMenuList > ul > li > ul > li > ul > li > a:hover::after{background: #006951;}
}

/* Search */
#divSearch .searchBox input[type="image"]{background: #56a105;}
#divSearch .detailSearch a{background-color: #014a23; }
.widesrchContent dl dt:hover a{color:#006951}

/* quickMenu */
.quickMenuW .quickMenu div a:hover span{background: #006951;}
.quickMenuW .quickMenu div a span::after{border-bottom: 5px solid #006951;}
.quickMenuW .quickMenuAll{background: #006951;}

/* notice */
.notice >  ul > li.on > a{background: #006951; border: 1px solid #006951;}
.notice >  ul > li .noticeContent > ul li a:hover{color: #1a7109;}
.notice >  ul > li .noticeContent > ul li .mark{color: #006951; border: 1px solid #006951;}
.notice >  ul > li .noticeContent .qusetionList{border-top: 1px solid #006951;}
.notice >  ul > li .noticeContent .qusetionList li span{color: #006951;}
@media screen  and (max-width:767px){
    .notice > ul > li > a{background: #006951; border: 1px solid #006951;}
}

/* popup */
.control ul li.on a{background: #5fb94d;}

/* schedule */
.schedule .scheduleMonth > ul{background: linear-gradient(125deg,#009658 , #0387c1 );}
.schedule .scheduleListW .scheduleList ul li a:hover{border: 1px solid #7fcba4;}
.schedule .scheduleListW > a::before{background: linear-gradient(125deg,#009658 , #0387c1 );}
.schedule .scheduleListW .scheduleList ul li a:hover .scheduleDate{color: #008e45;}

/* 이용안내 */
.guideWrap .guide2 .top .tit{color: #038743;}
.openHourList > li::after{background: #419482;}
.openHourList > li > ul.libraryList li{color: #006951}
.guide2Table tr th{color: #038743; border-top: 2px solid #038743; border-bottom: 1px solid #038743;}

/* bookList */
.tabList > div > ul > li .tab span::before {background: #7fab16;}
.bookListW .bookList div a .bookInfo{background: rgba(0, 83, 38, 0.95);}
.bookListW .moreList a::after{background-color: #92ce45;}
/* main Color */

/* footer */
.libraryInfo ul li a.privacy{color: #7fab16;}

/* -------------------- */
/* sub Template */
/* Top Menu */
.subTemplate .header2{background: #006951;}
.subTemplate #divTopMenu > ul > li.on > a{color: #fff;}
.subTemplate #divTopMenu > ul > li > a:hover{color: #fff;}
.subTemplate #divTopMenu > ul > li > a::before{background:#fff;}

/* Search */
.searchInput input[type="text"]{color: #006951;}
.searchWords .searchKeyword .keyword{color: #006951;}
.atoz a.selected{background: #56a105; border: 1px solid #56a105;}
.topicCont .subjectDepth01 > li.on .topicTit1{color: #006951;}
.topicCont .subjectDepth01 > li > .subjectDepth02 > li.on{background: #006951;}
.topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li.on a, .topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li a:hover{color: #006951;}
.topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li.on a::after, .topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li a:hover::after{background: #006951;}
.noResult1 span{color: #006951;}

/* Search List */
.searchCnt strong{color: #006951;}
.facetNav{background-color: #006951;}

/* paging */
.paging > span span{color: #006951;}

/* pacet */
.facetList1 > ul li .addDelete{background-color: #006951;}
.sortingBtn{background-color: #006951;}
.facet::after{background-color: #006951;}

/* Button */
.btnType1{color: #006951 !important; border: 1px solid #006951;}
.btnType2{background: #006951; border: 1px solid #006951;}
.btnType3{color: #006951 !important; border: 1px solid #006951;}
.btnType4{background: #56a105;}
.btnType5{background: #56a105;}
.btnType6.on{background: #006951;}
.btnType7{color: #006951 !important; border: 1px solid #006951;}
.btnType3{color: #006951 !important; border: 1px solid #006951;}
.btnType4{background: #006951; border: 1px solid #006951;}
.btnType10{background: #006951;}
.resultList > li .listInfoW .bookInfo .dataInfo .infoBtn:hover{background: #006951; border: 1px solid #006951; }

/* TabMenu */
#divTabMenu ul li.selected a{background: #006951;}

/* 검색상세 */
.profileHeader h3{color: #006951 !important;}
.profileHeader .qrBtn{background: #006951 !important;}
.briefInfoDetail table tr td a{color: #006951 !important;}
.searchLink .searchLinkBtn > li.marcView a{color: #006951 !important;}
.searchInfo.on .searchHeader h3 a{color: #006951 !important;}
.briefInfoDetail table tr td a.urlGoto{background: #56a105 !important;}
a.moreView:hover{color: #006951;}

/* main Color */
.col10{color: #006951 !important;}

/* total Search */
.totalSearchResult .division .totalSearchTitle h3 span strong{color: #006951;}

/* popup */
.popupTop2{background: #006951;}
.layerPopup h3{background: #006951;}
.handlerContentW h3{background: #006951;}
.popupRoomContent .popupContentHeader, .popupRoomContent.on .popupContentHeader{background-color: #006951;}
.bookingTable tr td:nth-of-type(1)::after{background: #006951;}

/* facility */
.tabs .tabList li.on a{color: #006951; border-bottom: 3px solid #006951;}
.resList > ul > li.ongoing .type{background-color: #006951;}
.resList > ul > li .info p.date{color: #006951;}

/* list */
.listTitle1{color: #56a105;}

/* 자동완성 */
.autoComW .autoComContent ul li a span{color: #006951;}

/* Login */
.loginBtn1{background: #006951;}
.loginBtn2{border: 1px solid #006951; color: #006951 !important;}
.loginBtn3{background: #56a105;}
.loginBtn4{color: #56a105 !important; border: 1px solid #56a105;}
.loginW .wrap > p .loginGoto{color: #006951;}
.loginW .wrap .loginTit{color: #006951;}
.loginW .loginContent .msg .msgFind{color: #006951;}
.loginW .loginContent .loginType li.on a{background: #56a105;}

/* 게시판 */
.noticeList ul li .type{background: #006951;}
.boardDetail .boardInfo .type{background: #006951;}
.boardDetail .boardInfo .disclosure{color: #006951;}
.calendarTop .daySelect .daySelectBtn.on{color: #006951;}

/* thesis */
.subTab li.on a{color: #006951; border-bottom: 2px solid #006951;}
.thesisStep ul li.on span{color: #006951;}

/* 회원증 색상변경 */
.globalMenu ul>li.card>a {background:url(../../../image/ko/main/cardType1.png) no-repeat left center;color:#006951}
.card .cardPop {border-top:10px solid #006951}
.qrBtn a.retry {background-color:#006951}

/* 논문선택컬러 */
.applyBtn3.on span {background:url(/humanframe/nddl/image/ko/ico/thesisArrow1.png) no-repeat left center !important;color:#006951 !important}

/* 가이드 색상수정 */
.guideTit1 {color:#006951}
.guideTit1::after {background:#006951}
.point1, .caution2 {color:#006951}
.guideList1 > li::after {background:#006951}
.historyContent .year {color:#006951}
.historyContent .year::after {background:#006951}
.historyTab li a.on {background:#006951; border:1px solid #006951}
.goto1, .download1{background: #006951;}

/* 레이어 공지사항 */
.layerNotice .topArea {background:#246752}

/* intraBook */
.intraBookSlide ul li>a:hover {border:1px solid #36821e}

/* -------------------- */

/* select */
::-moz-selection{background-color:#014a23 ;color:#fff; text-shadow: 1px 1px #000;}
::-webkit-selection{background-color:#014a23 ;color:#fff; text-shadow: 1px 1px #000;}
::selection{background-color:#014a23 ;color:#fff; text-shadow: 1px 1px #000;}