@charset "utf-8";
/* 공군 color.css */
/* Top Menu */
#divTopMenu > ul > li > a:hover{color: #5936a6;}
#divTopMenu > ul > li.on > a{color: #5936a6;}
#divTopMenu > ul > li > a::before{background:#5936a6;}
#divTopMenu > ul > li .menuContent > ul > li:hover > a{border: 2px solid #5936a6; background-color: #5936a6;}
#divTopMenu > ul > li .menuContent > ul > li .menuList ul li a:hover{color: #523892;}
#divTopMenu > ul > li .menuContent > ul > li .menuList ul li a:hover::after{background: #523892;}

/* myMenu */
.header1 .globalMenu > ul > li.profile .myMenuBtn{background-color: #542fb2;}

/* wholeMenu */
@media screen and (min-width:1025px){
    .wholeMenu{ background: #5936a6;}
    .divMenuList > ul > li > a{border-top: 1px solid #886ec9; border-bottom: 1px solid #886ec9;}
    .divMenuList > ul > li > ul > li > ul li a{color: #c2bbe0; }
}
@media screen and (max-width:1024px){
    .divMenuList > ul > li > a::after{background: #523892;}
    .divMenuList > ul > li > ul > li > a:hover{color: #523892; }
    .divMenuList > ul > li > ul > li.on > a{color: #523892; border-bottom: 1px solid #523892;}
    .divMenuList > ul > li > ul > li > ul > li > a:hover{color: #5936a6;}
    .divMenuList > ul > li > ul > li > ul > li > a:hover::after{background: #5936a6;}
}

/* Search */
#divSearch .searchBox input[type="image"]{background: #542fb2;}
#divSearch .detailSearch a{background-color: #250069; }
.widesrchContent dl dt:hover a{color:#5936a6}

/* quickMenu */
.quickMenuW .quickMenu div a:hover span{background: #5936a6;}
.quickMenuW .quickMenu div a span::after{border-bottom: 5px solid #5936a6;}
.quickMenuW .quickMenuAll{background: #542fb2;}



/* notice */
.notice >  ul > li.on > a{background: #523892; border: 1px solid #523892;}
.notice >  ul > li .noticeContent > ul li a:hover{color: #523892;}
.notice >  ul > li .noticeContent > ul li .mark{color: #523892; border: 1px solid #523892;}
.notice >  ul > li .noticeContent .qusetionList{border-top: 1px solid #523892;}
.notice >  ul > li .noticeContent .qusetionList li span{color: #523892;}
@media screen  and (max-width:767px){
    .notice > ul > li > a{background: #523892; border: 1px solid #523892;}
}

/* popup */
.control ul li.on a{background: #5fb94d;}

/* schedule */
.schedule .scheduleMonth > ul{background: linear-gradient(300deg,#7e4cc3 , #523892);}
.schedule .scheduleListW .scheduleList ul li a:hover{border: 1px solid #947fcb;}
.schedule .scheduleListW > a::before{background: linear-gradient(300deg,#523892 , #7e4cc3 );}
.schedule .scheduleListW .scheduleList ul li a:hover .scheduleDate{color: #5936a6;}

/* 이용안내 */
.guideWrap .guide2 .top .tit{color: #5936a6;}
.openHourList > li::after{background: #542fb2;}
.openHourList > li > ul.libraryList li{color: #542fb2}
.guide2Table tr th{color: #5936a6; border-top: 2px solid #5936a6; border-bottom: 1px solid #5936a6;}

/* bookList */
.tabList > div > ul > li .tab span::before {background: #523892;}
.bookListW .bookList div a .bookInfo{background: rgba(82, 56, 146, 0.95);}
.bookListW .moreList a::after{background-color: #a482f8;}

/* footer */
.libraryInfo ul li a.privacy{color: #a69bfe;}

/* select */
::-moz-selection{background-color:#5936a6 ;color:#fff; text-shadow: 1px 1px #000;}
::-webkit-selection{background-color:#5936a6 ;color:#fff; text-shadow: 1px 1px #000;}
::selection{background-color:#5936a6 ;color:#fff; text-shadow: 1px 1px #000;}

/* -------------------- */
/* sub Template */
/* Top Menu */
.subTemplate .header2{background: #542fb2;}
.subTemplate #divTopMenu > ul > li.on > a{color: #fff;}
.subTemplate #divTopMenu > ul > li > a:hover{color: #fff;}
.subTemplate #divTopMenu > ul > li > a::before{background:#fff;}

/* Search */
.searchInput input[type="text"]{color: #542fb2;}
.searchWords .searchKeyword .keyword{color: #542fb2;}
.atoz a.selected{background: #250069; border: 1px solid #250069;}
.topicCont .subjectDepth01 > li.on .topicTit1{color: #542fb2;}
.topicCont .subjectDepth01 > li > .subjectDepth02 > li.on{background: #542fb2;}
.topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li.on a, .topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li a:hover{color: #542fb2;}
.topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li.on a::after, .topicCont .subjectDepth01 > li > .subjectDepth02 > li .subjectDepth03 li a:hover::after{background: #542fb2;}
.noResult1 span{color: #542fb2;}

/* Search List */
.searchCnt strong{color: #542fb2;}

/* paging */
.paging > span span{color: #542fb2;}
.facetNav{background-color: #542fb2;}

/* pacet */
.facetList1 > ul li .addDelete{background-color: #542fb2;}
.sortingBtn{background-color: #542fb2;}
.facet::after{background-color: #542fb2;}

/* Button */
.btnType1{color: #542fb2 !important; border: 1px solid #542fb2;}
.btnType2{background: #542fb2; border: 1px solid #542fb2;}
.btnType3{color: #542fb2 !important; border: 1px solid #542fb2;}
.btnType4{background: #250069;}
.btnType5{background: #250069;}
.btnType6.on{background: #542fb2;}
.btnType7{color: #542fb2 !important; border: 1px solid #542fb2;}
.btnType3{color: #542fb2 !important; border: 1px solid #542fb2;}
.btnType4{background: #542fb2; border: 1px solid #542fb2;}
.btnType10{background: #542fb2;}
.resultList > li .listInfoW .bookInfo .dataInfo .infoBtn:hover{background: #542fb2; border: 1px solid #542fb2; }

/* TabMenu */
#divTabMenu ul li.selected a{background: #542fb2;}

/* 검색상세 */
.profileHeader h3{color: #542fb2 !important;}
.profileHeader .qrBtn{background: #542fb2 !important;}
.briefInfoDetail table tr td a{color: #542fb2 !important;}
.searchLink .searchLinkBtn > li.marcView a{color: #542fb2 !important;}
.searchInfo.on .searchHeader h3 a{color: #542fb2 !important;}
.briefInfoDetail table tr td a.urlGoto{background: #250069 !important;}
a.moreView:hover{color: #542fb2;}

/* main Color */
.col10{color: #542fb2 !important;}

/* total Search */
.totalSearchResult .division .totalSearchTitle h3 span strong{color: #542fb2;}

/* popup */
.popupTop2{background: #542fb2;}
.layerPopup h3{background: #542fb2;}
.handlerContentW h3{background: #542fb2;}
.popupRoomContent .popupContentHeader, .popupRoomContent.on .popupContentHeader{background-color: #542fb2;}
.bookingTable tr td:nth-of-type(1)::after{background: #542fb2;}

/* facility */
.tabs .tabList li.on a{color: #542fb2; border-bottom: 3px solid #542fb2;}
.resList > ul > li.ongoing .type{background-color: #542fb2;}
.resList > ul > li .info p.date{color: #542fb2;}

/* list */
.listTitle1{color: #250069;}

/* 자동완성 */
.autoComW .autoComContent ul li a span{color: #542fb2;}

/* Login */
.loginBtn1{background: #542fb2;}
.loginBtn2{border: 1px solid #542fb2; color: #542fb2 !important;}
.loginBtn3{background: #250069;}
.loginBtn4{color: #250069 !important; border: 1px solid #250069;}
.loginW .wrap > p .loginGoto{color: #542fb2;}
.loginW .wrap .loginTit{color: #542fb2;}
.loginW .loginContent .msg .msgFind{color: #542fb2;}
.loginW .loginContent .loginType li.on a{background: #250069;}

/* thesis */
.subTab li.on a{color: #542fb2; border-bottom: 2px solid #542fb2;}
.thesisStep ul li.on span{color: #542fb2;}

/* 게시판 */
.noticeList ul li .type{background: #542fb2;}
.boardDetail .boardInfo .type{background: #542fb2;}
.boardDetail .boardInfo .disclosure{color: #542fb2;}
.calendarTop .daySelect .daySelectBtn.on{color: #542fb2;}

/* 회원증 색상변경 */
.globalMenu ul>li.card>a {background:url(../../../image/ko/main/cardType3.png) no-repeat left center;color:#542fb2}
.card .cardPop {border-top:10px solid #542fb2}
.qrBtn a.retry {background-color:#542fb2}

/* 논문선택컬러 */
.applyBtn3.on span {background:url(/humanframe/nddl/image/ko/ico/thesisArrow3.png) no-repeat left center !important;color:#542fb2 !important}

/* 가이드 색상수정 */
.guideTit1 {color:#542fb2}
.guideTit1::after {background:#542fb2}
.point1, .caution2 {color:#542fb2 }
.guideList1 > li::after {background:#542fb2}
.historyContent .year {color:#542fb2}
.historyContent .year::after {background:#542fb2}
.historyTab li a.on {background:#542fb2 ; border:1px solid #542fb2}
.goto1, .download1{background: #542fb2}

/* 레이어 공지사항 */
.layerNotice .topArea {background:#5631a5}

/* intraBook */
.intraBookSlide ul li>a:hover {border:1px solid #542fb2}

/* -------------------- */