@charset "utf-8";

/* 가나다리스트 */
.atoz{margin-bottom:20px; padding: 0 80px;}
.searchArea .atoz{margin-top: 15px;}
.atoz div{text-align:center}
.atoz a{display:inline-block;width:30px;height:30px;line-height: 30px; margin:2px 0 2px 2px;background-color:#fff;border:1px solid #cdd8e8;color:#384655; box-sizing: border-box;} 
.atoz a:hover{border:1px solid #000}
.atoz a.atozTotal,.atoz a.atozEtc{width:50px}
.atoz a.selected{background-color:#4d2bf4;border:1px solid #4d2bf4;color:#fff;}
@media screen and (min-width:0px) and (max-width:767px){
	.atoz{margin-bottom:10px;background:none;border:none;padding: 0;}
	.atoz div{width:257px;margin:0 auto;text-align:left}
    .atoz a.atozTotal,.atoz a.atozEtc{width: 62px;}
	.atoz div:first-child{margin:0 auto}
	.atoz div a{text-align:center}
}