@charset "utf-8";

/* 상담신청완료 */
.helpResult {text-align: center;}
.helpResult .icoArea {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;width:105px;height:105px;margin:0 auto 28px auto;background:#e9e9e9;border-radius: 100%;}
.helpResult .icoArea .helpComplate {width:60px;height:auto}
.helpResult .mainTxt {color:#060606;font-family: PretendardB,sans-serif;font-size:1.285rem;}
.helpResult .subTxt {margin-top:10px;color:#8b8b8b;font-size:1rem;line-height: 18px;word-break: keep-all;}
.helpResult .btnBunchType1 {margin-top:28px}