@charset "utf-8";

h1, .libraryInfo dt, .libraryInfo dd, .writerInfo dt, .writerInfo dd, .text, address {background-color:#fff;font-family:바탕, 궁서, Dotum,Arial,Tahoma,verdana;color:#000;font-size:1.25em;line-height:160%;}

#divContent {width:850px;padding:80px 0}
#divContent h1 {text-align: center;font-size:2.25em}

.contents {padding:56px 80px;}

.libraryInfo:after {content:"";display:block;clear:both}
.libraryInfo dt {float:left;;display:block;width:120px;clear:both}
.libraryInfo dd {float:left}


.LinkButton {font-size:12px}

.writerInfo:after {content:"";display:block;clear:both}
.writerInfo dt {float:left;;display:block;width:120px;clear:both}
.writerInfo dd {float:left}


.libMaster {position:relative;padding:50px 0;}
.libMaster>img {position:absolute;top:24px;right:150px;z-index:-1}
.stamp {font-weight:bold;font-size:2em;text-align:center}

.address {padding:40px 80px 20px 80px}