@charset "utf-8";

@font-face{
    font-family:Pretendard;
    src:url(../css/Pretendard-Regular.eot);
    src:local('※'), url(../css/Pretendard-Regular.woff) format('woff');
}
*{
    margin:0;
    padding:0;
    font-weight: 400;
    font-size:14px;
    font-family:Pretendard,sans-serif;
}
a{
    color:inherit;
    text-decoration: none;
}
.body {padding:24px;min-width:1300px}
.alignC{
    text-align: center !important;
}
.brn{
    border-left:none !important
}


body{
    height:200vh;
}

.box {
    padding:20px 0;
    border-bottom:1px solid #ddd
}
.box>div {
    display:none
}

.wide-tooltip {
    position: absolute;
    z-index: 9999;
    border: 2px solid #369 !important;
    border-radius: 100%;
    background-color: #369;
    padding: 4px;
    font-size: 12px;
    width: 100px;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: normal;
}
.wide-tooltip::after{
    content:"";
    display:block;
    position:absolute;
    bottom:-10px;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-top:10px solid #369;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent
}
.tit {
    text-align: center;
    line-height: 1;
    color:#fff;
    font-size:8px
}
.tit span {
    display:block;
    margin-top:4px;
    font-size:12px
}
.count{
    line-height: 1;
    color:#fff;
}
div.clearer {
    clear: both;
    margin: 5px 0px;
}


/* 상단기능 커스텀 */
.dataTables_wrapper::after{
    content:"";
    display:block;
    clear:both
}
.dt-buttons{
    margin-bottom:16px
}
.dt-button{
    display:inline-block;
    padding:4px 12px;
    background:#000;
    color:#fff;
    border-radius: 5px;
}
.dataTables_length {
    float:left;
    margin-top:9px;
    margin-bottom:12px;
    font-size:15px;
}
.dataTables_length select {
    border: none;
    padding: 0 20px 0 5px;
    color: rgba(31, 31, 31, 0.8);
    background: #fff url(../image/selectArrow2.png) no-repeat right 6px center;
    font-size:15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor:pointer;
}
.dataTables_length select::-ms-expand{
    display: none;
}
.dataTables_filter {
    float:right;
    width:210px;
    margin-bottom:12px;
}
.dataTables_filter input{
    width:100%;
    height:36px;
    padding-left:12px;
    border-radius:10px;
    border:1px solid #d4d4d4;
    color:#949494;
    font-size:15px;
    box-sizing:border-box;
}
.dataTables_filter input::placeholder{
    color:#949494;
    font-size:15px;
}


/* 테이블 커스텀 */

.scrollPlug:not(:last-child){
    margin-bottom:40px
}
.plugTable{
    width:100% !important;
    table-layout: fixed;
    border-collapse: collapse;
}
.plugTable thead th {
    position:relative
}
.plugTable.type1 thead th{
    padding:8px 0;
    background:#f5f5f5;
    color:#000;
    border:1px solid #ddd;
    border-bottom:none;
    font-weight: 400;
}
.plugTable.type1 thead th:first-child{
    border-left:none;
}
.plugTable.type1 thead th:last-child{
    border-right:none;
}

.plugTable.type1 tbody td{
    padding:6px 8px;
    color:#000;
    border:1px solid #ddd;
    font-weight: 400;
}
.plugTable.type1 tbody td:first-child{
    border-left:none;
}
.plugTable.type1 tbody td:last-child{
    border-right:none;
}
.dataTables_scrollHead .plugTable  thead>tr>th.sorting:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc_disabled:after,.noYScroll .plugTable  thead>tr>th.sorting:before, .noYScroll .plugTable  thead>tr>th.sorting:after, .noYScroll .plugTable  thead>tr>th.sorting_asc:before, .noYScroll .plugTable  thead>tr>th.sorting_asc:after, .noYScroll .plugTable  thead>tr>th.sorting_desc:before, .noYScroll .plugTable  thead>tr>th.sorting_desc:after, .noYScroll .plugTable  thead>tr>th.sorting_asc_disabled:before, .noYScroll .plugTable  thead>tr>th.sorting_asc_disabled:after, .noYScroll .plugTable  thead>tr>th.sorting_desc_disabled:before, .noYScroll .plugTable  thead>tr>th.sorting_desc_disabled:after, .noYScroll .plugTable  thead>tr>td.sorting:before, .noYScroll .plugTable  thead>tr>td.sorting:after, .noYScroll .plugTable  thead>tr>td.sorting_asc:before, .noYScroll .plugTable  thead>tr>td.sorting_asc:after, .noYScroll .plugTable  thead>tr>td.sorting_desc:before, .noYScroll .plugTable  thead>tr>td.sorting_desc:after, .noYScroll .plugTable  thead>tr>td.sorting_asc_disabled:before, .noYScroll .plugTable  thead>tr>td.sorting_asc_disabled:after, .noYScroll .plugTable  thead>tr>td.sorting_desc_disabled:before, .noYScroll .plugTable  thead>tr>td.sorting_desc_disabled:after{
    position:absolute;
    display:block;
    opacity:0.125;
    right:10px;
    line-height:9px;
    font-size:.9em
}
.dataTables_scrollHead .plugTable  thead>tr>th.sorting:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc_disabled:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc_disabled:before,.noYScroll .plugTable  thead>tr>th.sorting:before, .noYScroll .plugTable  thead>tr>th.sorting_asc:before, .noYScroll .plugTable  thead>tr>th.sorting_desc:before, .noYScroll .plugTable  thead>tr>th.sorting_asc_disabled:before, .noYScroll .plugTable  thead>tr>th.sorting_desc_disabled:before, .noYScroll .plugTable  thead>tr>td.sorting:before, .noYScroll .plugTable  thead>tr>td.sorting_asc:before, .noYScroll .plugTable  thead>tr>td.sorting_desc:before, .noYScroll .plugTable  thead>tr>td.sorting_asc_disabled:before, .noYScroll .plugTable  thead>tr>td.sorting_desc_disabled:before{
    bottom:50%;
    content:"▴"
}
.dataTables_scrollHead .plugTable  thead>tr>th.sorting:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc_disabled:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc_disabled:after,.noYScroll .plugTable  thead>tr>th.sorting:after, .noYScroll .plugTable  thead>tr>th.sorting_asc:after, .noYScroll .plugTable  thead>tr>th.sorting_desc:after, .noYScroll .plugTable  thead>tr>th.sorting_asc_disabled:after, .noYScroll .plugTable  thead>tr>th.sorting_desc_disabled:after, .noYScroll .plugTable  thead>tr>td.sorting:after, .noYScroll .plugTable  thead>tr>td.sorting_asc:after, .noYScroll .plugTable  thead>tr>td.sorting_desc:after, .noYScroll .plugTable  thead>tr>td.sorting_asc_disabled:after, .noYScroll .plugTable  thead>tr>td.sorting_desc_disabled:after{
    top:50%;
    content:"▾"
}
.dataTables_scrollHead .plugTable  thead>tr>th.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>th.sorting_desc:after, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_asc:before, .dataTables_scrollHead .plugTable  thead>tr>td.sorting_desc:after,.noYScroll .plugTable  thead>tr>th.sorting_asc:before, .noYScroll .plugTable  thead>tr>th.sorting_desc:after, .noYScroll .plugTable  thead>tr>td.sorting_asc:before, .noYScroll .plugTable  thead>tr>td.sorting_desc:after{
    opacity:.6;
}

.cellToggle {
    width:15px !important;
    padding:0 !important;
    border-right:none !important;
    box-sizing: border-box;
}
.plugTable td.dt-control{
    color:#ddd
}
.plugTable td.dt-control:before {
    content:"\2b";
    color:#ccc;
    font-size:20px;
    vertical-align: 4px;
}
.plugTable tr.dt-hasChild td.dt-control:before{
    content:"\2212";
    color:#ccc;
    font-size:20px;
    vertical-align: 4px;
}

.innerTable {
    width:100%;
    padding-left:16px;
    box-sizing: border-box;
}
.plugTable.type1 tbody td .innerTable tbody td {
    border:none;
    padding:8px 0;
}
.plugTable.type1 tbody td .innerTable tbody td.title{
    width:80px;
    color:#000;
    font-weight: 800;
}


/* 페이징 */
.dataTables_paginate{
    margin-top:40px;
    text-align: center;
}
.paginate_button.previous{
    display:inline-block;
    width:8px;
    height:12px;
    margin:0 12px;
    background:url(../image/prevPage.png) no-repeat;
    text-indent: -9999px;
    vertical-align: sub;
}
.paginate_button.next{
    display:inline-block;
    width:8px;
    height:12px;
    margin:0 12px;
    background:url(../image/nextPage.png) no-repeat;
    text-indent: -9999px;
    vertical-align: sub;
}
.dataTables_paginate>span{
    display:inline-block;
    margin:0 11px;
}
.dataTables_paginate>span>a{
    display: inline-block;
    width: 26px;
    height: 26px;
    color:#989898;
    line-height: 26px;
    margin:0 9px;
    cursor:pointer;
}
.dataTables_paginate>span>a.current{
    border-radius: 100%;
    background:#000;
    color:#fff;
}


/* 팝업 */
.dt-button-info{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
    height:300px;
    background:#fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
}
.dt-button-info h2{
    background:#ddd;
    padding:20px;
    font-size:18px;
    font-weight: 800;
    box-sizing: border-box;
}
.dt-button-info>div{
    padding:20px;
    font-size:15px
}