@charset "utf-8";

:root {font-size:15px}

@media screen and (max-width:1024px) {
    :root {font-size:14px}
}

html, body {overflow-x: hidden;}

/* 건너뛰기 */
#divAccessibility{position:absolute;left:0;top:0;z-index:130}
#divAccessibility li{float:left}
#divAccessibility a{position:absolute;width:1px;height:1px;top:-50px;overflow:hidden;text-align:center}
#divAccessibility a:focus, #divAccessibility a:active{position:absolute;top:0;width:200px;height:auto;padding:5px;background-color:#fff;border:solid 1px #0079c6;color:#0079c6;z-index:2}

/* 숨김영역 */
.skip{position:absolute;width:1px;height:1px;text-indent:-9999px;overflow:hidden;border:none}

/* point */
.point {color:#ff7200 !important}


/* view */
.block {display:block !important}
.inlineB {display:inline-block !important;}
.hide {display:none;}

/* align */
.fl {float:left !important}
.fr {float:right !important}
.clb {clear:both !important}
.alignC {text-align:center !important}
.alignL {text-align:left !important}
.alignR {text-align:right !important}

/* margin */
.mAuto {margin:0 auto !important}
.mg0 {margin:0 !important}
.mt0 {margin-top:0px !important}
.mt05 {margin-top:5px !important}
.mt10 {margin-top:10px !important}
.mt15 {margin-top:15px !important}
.mt20 {margin-top:20px !important}
.mt25 {margin-top:25px !important}
.mt30 {margin-top:30px !important}
.mt40 {margin-top:40px !important}
.mt50 {margin-top:50px !important}
.mr0 {margin-right:0px !important}
.mr05 {margin-right:5px !important}
.mr10 {margin-right:10px !important}
.mr15 {margin-right:15px !important}
.mr20 {margin-right:20px !important}
.mr30 {margin-right:30px !important}
.mr40 {margin-right:40px !important}
.mr50 {margin-right:50px !important}
.mb0 {margin-bottom:0px!important}
.mb05 {margin-bottom:05px!important}
.mb10 {margin-bottom:10px!important}
.mb15 {margin-bottom:15px!important}
.mb20 {margin-bottom:20px !important}
.mb25 {margin-bottom:25px !important}
.mb30 {margin-bottom:30px !important}
.mb40 {margin-bottom:40px !important}
.mb50 {margin-bottom:50px !important}
.ml0 {margin-left:0 !important}
.ml05 {margin-left:5px !important}
.ml10 {margin-left:10px !important}
.ml15 {margin-left:15px !important}
.ml20 {margin-left:20px !important}
.ml30 {margin-left:30px !important}
.ml40 {margin-left:40px !important}
.ml50 {margin-left:50px !important}
/* padding */
.pd0 {padding:0 !important;}
.pd05 {padding:5px !important;}
.pd10 {padding:10px !important;}
.pd15 {padding:15px !important;}
.pd20 {padding:20px !important;}
.pd30 {padding:30px !important;}
.pt0 {padding-top:0px !important;}
.pt05 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:30px !important;}
.pt40 {padding-top:40px !important;}
.pt50 {padding-top:50px !important;}
.pb0 {padding-bottom:0px !important;}
.pb05 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb30 {padding-bottom:30px !important;}
.pb40 {padding-bottom:40px !important;}
.pb50 {padding-bottom:50px !important;}
.pl0 {padding-left:0px !important;}
.pl05 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl30 {padding-left:30px !important;}
.pl40 {padding-left:40px !important;}
.pl50 {padding-left:50px !important;}
.pr0 {padding-right:0px !important;}
.pr05 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr30 {padding-right:30px !important;}
.pr40 {padding-right:40px !important;}
.pr50 {padding-right:50px !important;}
/* width */
.w20 {width: 20px !important;}
.w30 {width: 30px !important;}
.w40 {width: 40px !important;}
.w50 {width: 50px !important;}
.w60 {width: 60px !important;}
.w70 {width: 70px !important;}
.w80 {width: 80px !important;}
.w90 {width: 90px !important;}
.w100 {width: 100px !important;}
.w120 {width: 120px !important;}
.w150 {width: 150px !important;}
.w200 {width: 200px !important;}
.w250 {width: 250px !important;}
.w300 {width: 300px !important;}
.w350 {width: 350px !important;}
.w400 {width: 400px !important;}
.w450 {width: 450px !important;}
.w500 {width: 500px !important;}
.w550 {width: 550px !important;}
.wp100 {width: 100% !important;}

@media screen and (max-width:767px) {
    .mw100 {width:100% !important}    
}

/* select */
.selType1 {-webkit-appearance: none; -moz-appearance: none; appearance: none;cursor: pointer;border:1px solid #dedede;border-radius: 5px;padding:5px 24px 5px 12px;color:#898989;font-size:0.928rem;background:url(../../images/commons/selectArrow1.png) no-repeat right 8px center transparent;}
.selType2 {-webkit-appearance: none; -moz-appearance: none; appearance: none;cursor: pointer;border:none;width:96px;height:45px;padding:0 14px 0 16px;background:url(../../images/commons/selectArrow2.png) no-repeat right 4px center;color:#000;font-family: PretendardM,sans-serif;font-size:1.071rem;box-sizing: border-box;}
.selType3 {-webkit-appearance: none; -moz-appearance: none; appearance: none;cursor: pointer;border:1px solid #dadada;color:#fff;border-radius: 20px;width:80px;height:33px;padding:0 24px 0 16px;background:url(../../images/commons/selectArrow3.png) no-repeat right 12px center #989898;font-family: PretendardM,sans-serif;font-size:1rem;box-sizing: border-box;}
.selType4 {-webkit-appearance: none; -moz-appearance: none; appearance: none;cursor: pointer;border:1px solid #dadada;border-radius: 10px;width:100%;height:45px;padding:0 14px 0 16px;background:url(../../images/commons/selectArrow2.png) no-repeat right 12px center;color:#000;font-family: PretendardM,sans-serif;font-size:1.071rem;box-sizing: border-box;}

/* checkBox Custom */
.customChk1 {display:none}
.customChk1 + label {display: inline-block;min-height:18px;background:url(../../images/commons/chk1.png) no-repeat left center;padding-left:34px}
.customChk1:checked + label {background:url(../../images/commons/chk1On.png) no-repeat left center}

.customChk2 {display:none}
.customChk2 + label {display: inline-block;min-height:18px;background:url(../../images/commons/chk1.png) no-repeat left center;padding-left:24px}
.customChk2:checked + label {background:url(../../images/commons/chk2On.png) no-repeat left center}


/* radio button */
.radioType1[type="radio"]:checked,.radioType1[type="radio"]:not(:checked) {position: absolute;left: -9999px;}
.radioType1[type="radio"]:checked + label,.radioType1[type="radio"]:not(:checked) + label{position: relative;padding-left: 20px;cursor: pointer;display: inline-block;color: #666;font-family:Pretendard,sans-serif;font-size:1.071rem}

.radioType1[type="radio"]:checked + label:before,.radioType1[type="radio"]:not(:checked) + label:before {content: '';position: absolute;left: 0;top: 0;width: 14px;height: 14px;border: 1px solid #c3c3c3;border-radius: 100%;background: #fff;}
.radioType1.small[type="radio"]:checked + label:before{content: '';position: absolute;left: 0;top: 4px;width: 11px;height: 11px;border: 1px solid #2aa2db;border-radius: 100%;background: #fff;}
.radioType1.small[type="radio"]:not(:checked) + label:before {content: '';position: absolute;left: 0;top: 4px;width: 11px;height: 11px;border: 1px solid #737373;border-radius: 100%;background: #fff;}
.radioType1[type="radio"]:checked + label:after,.radioType1[type="radio"]:not(:checked) + label:after {content: '';width: 8px;height: 8px;background: #3e58b2;position: absolute;top: 4px;left: 4px;border-radius: 100%;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
.radioType1.small[type="radio"]:checked + label:after,.radioType1.small[type="radio"]:not(:checked) + label:after {content: '';width: 5px;height: 5px;background: #000;position: absolute;top: 8px;left: 4px;border-radius: 100%;-webkit-transform: none;transform: none;}

.radioType1[type="radio"]:not(:checked) + label:after {opacity: 0;-webkit-transform: scale(0);transform: scale(0);}
.radioType1[type="radio"]:checked + label:after {opacity: 1;-webkit-transform: scale(1);transform: scale(1);}


/* inputType */
.inputType1 {height:28px;padding:0 12px;border:1px solid #c4c4c4;color:#6f6f6f;border-radius: 5px;width:100%;box-sizing: border-box;font-size:1rem}
.inputType2 {height:45px;width:100%;box-sizing: border-box;padding:0 12px;color:#6f6f6f}

/* clearfix */
.clear::after {content:"";display:block;clear: both;}

/* blackBg */
.blackBg1 {display:none;position:fixed;top:0;right:0;width:100%;height:100%;background:rgba(0,0,0,0.55);z-index: 11;}

/* divSearch */
#divSearch {position:fixed;bottom:-100%;right:0;width:100%;height:100%;padding:12px 0 24px 0;background:#fff;z-index: 20;box-sizing: border-box;overflow-y: auto;opacity: 0;visibility: hidden;transition:bottom .4s}
#divSearch.on {opacity: 1;visibility: visible;bottom:0}
#divSearch .searchTop {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding:0 12px}
#divSearch .searchTop .searchClose {display:block;width:12px;height:20px;margin-right:8px;background:url(../../images/commons/back1.png);text-indent: -9999px;}
#divSearch .searchTop .detailSearchBtn {display:block;margin:7px 0 0 4px;padding-top:22px;background:url(../../images/commons/detailSearchIco.png) no-repeat center top;background-size:30px auto;color:#7b7b7b;font-family: PretendardSB,sans-serif;font-size:1rem;letter-spacing: -0.025em;word-break: keep-all;}
#divSearch .textDel {right:50px}
#divSearch .searchBtn {right:18px}

.detailSearch {display:none;background:#f5f6f8;padding:16px 12px}
.detailShTop {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-bottom:20px}
.detailShTop .tit {color:#000;font-family: PretendardB,sans-serif;font-size:1.285rem}
.detailShTop a {color:#525252;font-family: PretendardM,sans-serif;font-size:1rem}

.detailShTab {position:relative;margin-bottom:8px}
.detailShTab .inner {margin-right:36px;overflow: hidden;}
.detailShTab .tab {width:auto;margin-right:4px}
.detailShTab .tab a {display:block;padding:4px 16px;background:#fff;color:#000;border:1px solid #eaeaea;border-radius: 15px;font-size:1rem;font-family: PretendardM,sans-serif;letter-spacing: -0.025em;}
.detailShTab .tab.on a {background:#191919;border:1px solid #000;color:#fff}
.detailShTab .toggleBtn {display:block;position:absolute;bottom:0;right:0;width:34px;height:34px;background:#fff;border-radius: 100%;box-shadow: 0 0 8px rgba(0,0,0,0.1);z-index: 1;text-indent: -9999px;}
.detailShTab .toggleBtn::after {content:"";display:block;position:absolute;top:54%;left:50%;transform: translate(-50%, -50%);width:12px;height:8px;background:url(../../images/commons/facetArrow.png) no-repeat}

.detailShTab.all {margin-bottom:0}
.detailShTab.all .swiper-wrapper {display:block}
.detailShTab.all .tab {display:inline-block;margin-bottom:8px}
.detailShTab.all .toggleBtn {bottom:8px}
.detailShTab.all .toggleBtn::after {top:50%;transform: translate(-50%, -50%) rotate(180deg)}

.detailShTabContent {padding: 12px 16px 16px 16px;background:#fff;border-radius: 15px;box-shadow: 0 0 8px rgba(0,0,0,0.04);}
.detailShInput>ul>li>div {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;border:1px solid #dadada;padding-right:12px;height:45px;border-radius: 10px;}
.detailShInput>ul>li>div .inputType2 {width:calc(100% - 176px)}
.detailShInput>ul>li:nth-of-type(5)>div .inputType2 {width:calc(100% - 96px)}
a.addInput {border:1px solid #dadada;color:#fff;border-radius: 20px;width:80px;height:33px;background: #989898;font-family: PretendardM,sans-serif;font-size:1rem;box-sizing: border-box;text-align: center;line-height: 30px;}
.detailShInput>ul>li:not(:last-child) {margin-bottom:6px}
.detailShInput>ul>li:nth-of-type(4), .detailShInput>ul>li:nth-of-type(5) {display:none}
.detailShInput>ul>li:nth-of-type(3)>div .selType3 {display:none}
.detailShInput>ul>li:nth-of-type(4)>div .selType3 {display:none}

.detailShTabCont {display:none;margin-top:20px}
.detailShTabCont:nth-of-type(1) {display:block}
.detailShTabCont>ul>li:not(:last-child) {margin-bottom:12px}
.detailShTabCont>ul>li .tit {margin-bottom:8px;color:#000;font-family: PretendardM,sans-serif;font-size:1.071rem;letter-spacing: -0.025em;}
.detailShTabCont>ul>li .pubYear {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;border:1px solid #dadada;border-radius: 10px;}
.detailShTabCont>ul>li .pubYear input {width:100%;height:45px;background:url(../../images/commons/calIco.png) no-repeat right 46px center;color:#000;padding-right:20px;font-family: PretendardM,sans-serif;font-size:1.071rem;text-align: center;box-sizing: border-box;}
.detailShTabCont>ul>li .chkList>ul {font-size:0}
.detailShTabCont>ul>li .chkList>ul>li {display:inline-block}
.detailShTabCont>ul>li .chkList>ul>li:not(:last-child) {margin-right:8px}
.detailShTabCont>ul>li .chkList>ul>li label {vertical-align: text-bottom;}
.detailShTabCont>ul>li .chkList>ul>li .type {color:#000;font-family: PretendardM,sans-serif;font-size:1.071rem}

.detailShBtns {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-top:36px}
.detailReset {width:100%;height:41px;margin-right:4px;border:1px solid #323231;background:#fff;color:#323231;font-family: PretendardM,sans-serif;font-size:1.071rem;border-radius: 10px;;cursor: pointer;line-height: 40px;}
.detailShBtn {width:100%;height:41px;margin-left:4px;border:1px solid #323231;background:#323231;color:#fff;font-family: PretendardM,sans-serif;font-size:1.071rem;border-radius: 10px;;cursor: pointer;line-height: 40px;}
.detailSearchCloseW {margin-top:14px;text-align: center;}
.detailSearchClose {display:inline-block;color:#000;font-size:1rem;font-family: PretendardM,sans-serif;}

@media screen and (max-width:380px) {
    .detailShTabCont>ul>li .pubYear input {background-position: right 24px center}
}


.searchHistory {margin-top:40px;padding:0 12px}
.searchHistory .titArea {position:relative;margin-bottom:16px}
.searchHistory .titArea .tit {display:inline-block;color:#0f0f0f;font-family: PretendardSB,sans-serif;font-size:1.285rem}

.searchHistory .shManageW {position:absolute;top:10px;right:0;}
.searchHistory .titArea .shBtn {display:block;width:16px;height:4px;background:url(../../images/commons/toggleBtn1.png) no-repeat center;background-size:16px auto;transform: rotate(90deg);text-indent: -9999px;}
.searchHistory .shManageW>li {position:relative}
.searchHistory .shManage {display:none;position:absolute;top:18px;right:0;width:100px;background:#fff;border:1px solid #b3b3b3;border-radius: 8px;text-align: center;}
.searchHistory .shManage>li {padding:4px 0}
.searchHistory .shManage>li:not(:last-child) {border-bottom:1px solid #b3b3b3}
.searchHistory .shManage>li>a {font-size:1rem;}
.searchHistory .shManage>li.allHistoryDel>a {color:#aaa}
.searchHistory .shManage>li.noAuto>a {color:#161616}

.searchHistory .noHistory {color:#969696;font-size:1.071rem}
.searchHistory>ul {font-size:0}
.searchHistory>ul>li {display:inline-block;padding:4px 12px;margin-bottom:8px;border:1px solid #cecece;border-radius: 20px;background:#f8f8f8;}
.searchHistory>ul>li:not(:last-child) {margin-right:6px}
.searchHistory>ul>li>div {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.searchHistory>ul>li .txt {margin-right:4px;font-size:1rem;color:#5d5d5d;font-family: Pretendard,sans-serif;letter-spacing: -0.05em;}

.keywordList {margin-top:56px;padding:0 12px}
.keywordList .titArea {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-bottom:12px}
.keywordList .titArea .tit {display:inline-block;color:#0f0f0f;font-family: PretendardSB,sans-serif;font-size:1.285rem}
.keywordList .titArea .date {color:#929292;font-family: PretendardM,sans-serif;font-size:0.857rem}
.keywordList .list {border-bottom:1px solid #ebebeb}
.keywordList .list:first-child {border-top:1px solid #ebebeb}
.keywordList .list a {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding:7px 20px 7px 12px}
.keywordList .list .num {display:inline-block;width:40px;color:#2e2e2e;font-size:1rem;font-family:PretendardB,sans-serif;}
.keywordList .list:nth-of-type(1) .num, .keywordList .list:nth-of-type(2) .num, .keywordList .list:nth-of-type(3) .num, .keywordList .list:nth-of-type(4) .num {color:#ff7200;}
.keywordList .list .keyword {display:inline-block;color:#595959;width:calc(100% - 80px);font-size:1.071rem;font-family: Pretendard,sans-serif;}
.keywordList .list .info {width:40px;color:#0f0f0f;font-size:1.071rem;text-align: right;}


@keyframes animateBorder {
    0% { background-position: 100% 0%; }
    100% { background-position: 0% 0%; }
}

/* wholeMenu */
.wholeMenu {position:fixed;top:0;left:-100%;width:100%;height:100%;padding:16px 0 0 0;background:#fff;z-index: 30;overflow-y: auto;box-sizing: border-box;opacity: 0;transition:left .3s;}
.wholeMenu.on {left: 0;opacity: 1;}


.wholeMenuTop {padding:0 16px 0 24px;margin-bottom:28px}
.wholeBtns {text-align: right;}
.wholeBtns .setting {display:inline-block;width:24px;height:24px;background:url(../../images/commons/wholeSet.png) no-repeat;background-size:24px 24px;text-indent: -9999px;;vertical-align: top}
.wholeBtns .wholeMenuClose {display:inline-block;width:20px;height:24px;margin-left:24px;background:url(../../images/commons/wholeClose.png) no-repeat center top 2px;background-size:20px 20px;text-indent: -9999px;vertical-align: top;}

.wholeMenuTop .loginW {margin:20px 0 0 0}
.wholeMenuTop .loginW::after {content:"";display:block;clear:both}
.wholeMenuTop .loginW .userInfo {float:left;width:calc(100% - 100px)}
.wholeMenuTop .loginW .userInfo p {color:#080808;font-size:1.714rem;font-family: PretendardM,sans-serif;}
.wholeMenuTop .loginW .userInfo p span {display:inline-block;color:#080808;font-size:1.714rem;font-family: PretendardB,sans-serif;max-width:calc(100% - 30px);text-overflow: ellipsis;white-space: nowrap;overflow: hidden;vertical-align: sub;}
.wholeMenuTop .loginW .loginBtns {float:right}
.wholeMenuTop .loginW .loginBtns a {display:inline-block;padding:3px 15px;border:1px solid #b1b1b1;border-radius: 15px;color:#5b5b5b;font-family: PretendardM,sans-serif;font-size:1rem}
.wholeMenuCont {background:#f5f6f8;padding:16px 12px 32px 12px}
.wholeMenuCont .wholeMenuNav .tab {width:auto}
.wholeMenuNav {background:#f5f6f8}
.wholeMenuNav .inner {overflow: hidden;}
.wholeMenuNav .tab:not(:last-child) {margin-right:8px}
.wholeMenuNav .tab a {display:block;padding:8px 14px;background:#d4dbe1;color:#000;border-radius: 20px;font-size:1.142rem;font-family: PretendardM,sans-serif;letter-spacing: -0.025em;}
.wholeMenuNav .tab.on a {background:#080808;color:#fff}
.wholeMenuNav .tab.strong a {background:#d4dbe1 !important;color:#000}
.wholeMenuList {margin-top:44px;padding:0 12px}
.wholeMenuList>ul>li>a {display:block;padding-bottom:12px;border-bottom:1px solid #d5d5d7;color:#080808;font-family: PretendardB,sans-serif;font-size:1.285rem}
.wholeMenuList>ul>li:not(:last-child) {margin-bottom:44px}

.wholeMenuList>ul>li>ul {margin:16px 20px 0 12px}
.wholeMenuList>ul>li>ul>li:not(:last-child) {margin-bottom:12px}
.wholeMenuList>ul>li>ul>li>a {display:block;background:url(../../images/commons/wholeArrow.png) no-repeat right center;background-size:10px 19px;color:#080808;font-size:1.142rem;font-family: PretendardM,sans-serif;}

/* fix */
.wholeMenuNav.fix {position: fixed;top:0;left:0;width:100%;box-sizing: border-box;padding:12px 28px 12px 12px;box-shadow: 0 4px 8px rgba(0,0,0,0.1);}
.wholeMenuList.on {margin-top:63px}
.fixEdit {margin-top:-63px;padding-top:63px}
