@charset "utf-8";

/* tabs */
.subTab{background: #f3f3f3; height: 60px; border-radius: 3px; margin-bottom: 24px;}
.subTab li{display: inline-block; margin-left: 24px;}
.subTab li a{display: block; padding: 0 8px; color: #333333; font-size: 16px; line-height: 60px; box-sizing: border-box; height: 60px;}
/* tabs */

.thesisList li{border: 1px solid #e3e3e3; border-radius: 3px;}
.thesisList li:not(:first-of-type){margin-top: 16px;}
.thesisList li::after{display: block; content: ''; clear: both;}
.thesisList li .thesisListL{float: left; width: 68%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 20px 30px; box-sizing: border-box;}
.thesisList li .thesisListR{float: right;}
.thesisList .num{color: #3b3b3b; display: block; min-width: 24px;}
.thesisList .thesisTitW{color: #333333; padding-left: 80px; width: 100%; box-sizing: border-box;}
.thesisList .subTxt{display: block; color: #555555; font-size: 13px;}
.thesisList .date{color: #555; font-family: Roboto,sans-serif;}
.thesisList .thesisTitW .thesisTit{width: 100%; display: block; text-overflow: ellipsis; overflow: hidden;  white-space: nowrap}
.thesisList .dateW{color: #333333; display: inline-block; vertical-align: middle; margin-right: 40px;}
.applyBtn{display: inline-block; background: #f2f2f2; padding: 0 40px;}
.applyBtn span{display: inline-block; text-align: center; line-height: 83px; padding-left: 28px; color: #3b3b3b; background: url(../../../../image/ko/ico/checked2.png) no-repeat left center;}

@media screen and (max-width:1200px){
    .thesisList li .thesisListL{width: 56%;}
}

@media screen and (max-width:1024px){
    .subTab li{margin-left: 4px;}
    .subTab li a{font-size: 15px;}
    .thesisList li > div{display: block !important; float: none !important;}
    .thesisList li .thesisListL{width: 100%;}
    .thesisList .thesisTitW{ padding-left: 0; margin-top: 12px;}
    .thesisList .thesisTit{width: 100%;}
    .thesisList .dateW{padding-left: 30px; margin-bottom: 20px;}
    .applyBtn{display: block; float: none; text-align: center; padding: 0;}
    .applyBtn span{line-height: 40px;}
}

@media screen and (max-width:767px){
    .thesisList li .thesisListL{padding: 12px 20px;}
    .thesisList .dateW{padding-left: 20px;}
}

/* 논문제출 step */
.thesisStep{margin-bottom: 50px;}
.thesisStep ul{display: table; margin: 0 auto;}
.thesisStep ul::after{content:"";display:block;clear:both}
.thesisStep ul li{float:left;margin-bottom:20px;padding-right:110px; background: url(../../../../image/ko/ico/arrow3.png) no-repeat right 50px center; vertical-align: middle;box-sizing: border-box;}
.thesisStep ul li:last-of-type{background: none !important; width: 86px;padding-right:0}
.thesisStep ul li span{display: inline-block; min-width: 120px; line-height: 20px; padding-top: 12px; color: #3f3f3f; text-align: center;}
.thesisStep ul li.on span{font-size: 20px; font-family: NotoSansM,sans-serif;}

.thesisStep ul li .imgBox {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center;width:120px;height:120px;border-radius: 100%;padding-left:4px}
.thesisStep ul li.on .imgBox {background:#f3f3f3;padding-left:0}
.thesisStep ul li.thesisStep1 .imgBox img {margin-right:6px}
.thesisStep ul li.thesisStep2 .imgBox img {margin-right:10px}
.thesisStep ul li.thesisStep4 .imgBox img {margin-left:10px}

@media screen and (max-width:1240px){
    .thesisStep ul li{background: url(../../../../image/ko/ico/arrow3.png) no-repeat right 25% center;}
}
@media screen and (max-width:900px){
    .thesisStep ul li{background: url(../../../../image/ko/ico/arrow3.png) no-repeat right 16% center;}
}
@media screen and (max-width:767px){
    .thesisStep{margin-bottom: 40px;}
    .thesisStep ul{display: block;}
    .thesisStep ul li{display: inline-block; vertical-align: top; width: 33.333%; margin-bottom: 20px;}
    .thesisStep ul li .imgBox {width:100px;height:100px;margin-left:12px}
    .thesisStep ul li .imgBox img {width:60%;height:auto}
}
@media screen and (max-width:620px){
    .thesisStep ul li {background-position:right center}
}
@media screen and (max-width:499px){
    .thesisStep ul li{ width: 50%; background: url(../../../../image/ko/ico/arrow3.png) no-repeat right 25px center;}
}
@media screen and (max-width:400px){
    .thesisStep ul li{background: url(../../../../image/ko/ico/arrow3.png) no-repeat right center;}
    .thesisStep ul li .imgBox {width:90px;height:90px}
}
/* 논문제출 step */

/* 논문제출 form */
.termsBx{margin-bottom: 40px;}
.termsTit{margin-bottom: 12px; text-align: left; color: #191919; font-size: 18px; padding-left: 16px;}
.article{margin-bottom: 16px; height: 150px; overflow-y: auto; border: 1px solid #d8d8d8; border-radius: 3px; padding: 24px 16px; box-sizing: border-box;}
.article p{color: #6d6d6d;} 
.article.cclBox1{overflow: auto; height: auto; float: left; width: calc(50% - 12px);}
.article.cclBox2{overflow: auto; height: auto; padding: 20px 16px 12px; background: #fbfbfb; float: right; width: calc(50% - 12px);}

.article.cclBox1 ul:not(:last-of-type){margin-bottom: 24px;}
.article.cclBox1 ul li{display: inline-block; color: #6d6d6d; margin-left: 16px;}

.popupContent .article.cclBox1, .popupContent .article.cclBox2{overflow: visible; float: none; width: 100%;}
.article .cclTxt2{padding-left: 8px;}
.article .cclIcon{margin-top: 16px; text-align: center;}
.article .cclIcon li{display: inline-block; margin: 0 4px;}
.cclIcon li{display: inline-block; margin-right: 24px;}
.cclIcon li img{margin: 0 auto; display: block;}
.cclIcon li span{color: #555; display: block; text-align: center;}
.cclBoxW::after{display: block; content: ''; clear: both;}
.cclBoxW > div{height: 162px;}
.termsBx .inputChk{display: block; text-align: right;}
.termsBx label{margin-left: 8px; color: #3f3f3f;}
.termsBx .inputChk *{display: inline-block; vertical-align: middle;}
.inputRadio{display: block; text-align: center; margin-bottom: 16px;}
.termsBx2{margin-top: 40px;}
.termsBx2 .termsTit{display: inline-block; margin-right: 24px;}
.termsBx2 .inputRadio{display: inline-block; text-align: left; margin-bottom: 0;}
.inputRadio label{margin-left: 4px;}
.inputRadio input[type="radio"]{margin-top: 0;}
.inputRadio input[type="radio"]:not(:first-of-type){margin-left: 24px;}
.caution{color: #3f3f3f !important; font-size: 15px !important; text-align: center;}
.caution2{margin-left: 28px; display: inline-block; color: #ef3370;}

.thesisTable{margin-bottom: 20px; text-align: right;}
.thesisTable > .termsTit{float: left;}
.thesisTable .point{color: #ed145b;}
.thesisTable table{border: 1px solid #d8d8d8; border-radius: 3px;}
.thesisTable table tr th{color: #555; vertical-align: middle; background: #fbfbfb; padding: 16px 12px; border-bottom: 1px solid #e3e3e3;}
.thesisTable table tr td{padding: 8px 32px; vertical-align: middle; border-bottom: 1px solid #e3e3e3;}
.popupContent .thesisTable{margin-top: 10px;}
.popupContent .thesisTable table tr td{padding: 4px 12px 4px 8px;}
.thesisTable table tr td .info{color: #333333; font-size: 16px;}
.thesisTable table tr td .ex{display: inline-block; color: #6d6d6d; margin-left: 32px;}
.thesisTable table tr td.thesisTableInfo{padding: 32px; color: #5b5b5b; line-height: 22px;}
.thesisTable table .exText1{color: #434343; margin-left: 16px; display: inline-block;}
.thesisTable table .exText2{color: #424242; margin-top: 10px;}
.popupContent .thesisTable table .exText1{margin-left: 0; margin-top: 8px;}
.thesisTable .thesisTableChk{ margin-left: 16px;}
.thesisTable .thesisTableChk > *{display: inline-block; vertical-align: middle;}
.thesisTable .thesisTableChk label{margin-left: 4px; color: #292929;}
.thesisTable .findFilesInput{width: 100%; padding-right: 150px;}
.findFiles{position: relative;}
.findFiles:not(:first-of-type){margin-top: 8px;}
.thesisTable .thesisBtn{display: inline-block; background: #545454; text-align: center; color: #fff; min-width: 100px; height: 30px; line-height: 30px; border-radius: 20px; border: none; cursor: pointer;}
.thesisTable .exBtn{margin-left: 16px;}
.thesisTable .deleteFileBtn{min-width: 70px; margin-top: 8px; margin-right: 12px;}
.thesisTable .findFileBtn{position: absolute; right: 16px; top: 5px;}
.popupContent .thesisTable .findFileBtn{position: relative; margin: 8px 0; right: 0; top: 0;}
.completeTxtW{margin-top: 40px;}
.completeTxtW p{text-align: center; color: #1a0dab; font-size: 30px;}
.fileDown{display: inline-block; padding-right: 36px; color: #1f55df !important; line-height: 25px; text-decoration: underline; background: url(../../../../image/ko/ico/downBtn.png) no-repeat right top 3px;}
.editBtn{float: right; color: #1a0dab !important; margin-top: 2px; margin-right: 16px;}

@media screen and (max-width:1100px){
    .article.cclBox1, .article.cclBox2{float: none; width: 100%;}
}
@media screen and (max-width:1024px){
    .termsBx{margin-bottom: 20px;}
    .termsBx2{margin-top: 50px;}
    .popupContent .termsBx2{margin-top: 0;  margin-bottom: 30px;}
    .thesisTable table tr td .ex{display: block; margin-left: 0; margin-top:12px;} 
    .thesisTable table tr th{padding: 12px 8px;}
    .thesisTable table tr td{padding: 12px 16px;} 
    .thesisTable table tr td.thesisTableInfo{padding: 20px;}
    .caution2{display: block; margin-left: 16px; margin-bottom: 16px;}
    .thesisTable .caution2{display: block; margin-left: 0; margin-top: 8px; margin-bottom: 0;}
    .thesisTableInput{width: 100% !important;}
    .thesisTable table .exText1{display: block; margin-left: 0; margin-top: 8px;}
}
@media screen and (max-width:767px){
    .thesisTable .thesisTableChk{display: block; margin-left: 0; margin-top: 10px;}
    .termsBx2 .inputRadio{display: block; margin-left: 16px; margin-bottom: 10px;}
    .findFiles:not(:first-of-type){margin-top: 16px;}
    .thesisTable .findFilesInput{padding-right: 0;}
    .thesisTable .findFileBtn{position: relative; margin: 8px 0; right: 0; top: 0;}
    .thesisTable .thesisBtn2{margin-left: 0; margin-top: 10px;}
    .cclIcon li{margin-right: 8px;}
}
/* 논문제출 form */

/* 제출결과없음 */
.thesisList .noList {margin-top:184px;}
.thesisList .noList p {padding-top:120px;background:url(../../../../image/ko/ico/noResult2.png) no-repeat center top;color:#353535;font-size:30px;letter-spacing: -0.05em;text-align: center;}

/* 220216 논문관련 수정 */
.subTthesis {position:relative;background:#fafafa;margin-bottom:-17px}
.subTthesis::before {content:"";display: block;position:absolute;top:0;left:0;width:4px;height:calc(100% + 1px);background:#006951;z-index: 1;}
.thesisList .subTthesis .dateW {margin-right:123px}
.subTthesis .applyBtn {background:none}
.applyBtn {min-width:160px;padding:0 0 0 40px;box-sizing: border-box;}
.applyBtn4 {display:inline-block;min-width:160px;padding:0 0 0 40px;box-sizing: border-box;}
.applyBtn4 span{display: inline-block; text-align: center; line-height: 83px; padding-left: 28px; color: #3b3b3b; background: url(../../../../image/ko/ico/thesisDel.png) no-repeat left center;}
.applyBtn5 {display:inline-block;min-width:160px;padding:0 0 0 40px;box-sizing: border-box;}
.applyBtn5 span{display: inline-block; text-align: center; line-height: 83px; padding-left: 28px; color: #3b3b3b; background: url(../../../../image/ko/ico/thesisClose.png) no-repeat left center;}
.applyBtn6 {display:inline-block;min-width:160px;padding:0 0 0 40px;box-sizing: border-box;}
.applyBtn6 span{display: inline-block; text-align: center; line-height: 83px; padding-left: 28px; color: #3b3b3b; background: url(../../../../image/ko/ico/thesisOk.png) no-repeat left center;}
.applyBtn7 {display:inline-block;min-width:160px;padding:0 0 0 40px;box-sizing: border-box;}
.applyBtn7 span{display: inline-block; text-align: center; line-height: 83px; padding-left: 28px; color: #3b3b3b; background: url(../../../../image/ko/ico/thesisEdit.png) no-repeat left center;}

@media screen and (max-width:1024px){
    .applyBtn4 {float:none;display:block;text-align: center;background:#f2f2f2}
    .applyBtn4 span {line-height: 40px;}
    .applyBtn5 {float:none;display:block;text-align: center;background:#f2f2f2}
    .applyBtn5 span {line-height: 40px;}
    .applyBtn6 {float:none;display:block;text-align: center;background:#f2f2f2}
    .applyBtn6 span {line-height: 40px;}
    .applyBtn7 {float:none;display:block;text-align: center;background:#f2f2f2}
    .applyBtn7 span {line-height: 40px;}
}